<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card card-custom" ng-controller="MaturingAmortizationListController">
                <div class="card-header">
                    <div class="card-title">
                        <span class="card-icon">
                            <i class="fad fa-users-class"></i>
                        </span>
                        <h3 class="card-label">Maturing Amortization List</h3>
                    </div>
                    <div class="card-toolbar">
                        <div class="dropdown dropdown-inline mr-2">
                            <button
                                type="button"
                                class="btn btn-light-primary font-weight-bolder dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                <i class="fad fa-file-export"></i>
                                Export
                            </button>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <ul class="navi flex-column navi-hover py-2">
                                    <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Choose an option:</li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link" ng-click="printDataTable()">
                                            <span class="navi-icon">
                                                <i class="la la-print"></i>
                                            </span>
                                            <span class="navi-text">Print</span>
                                        </a>
                                    </li>
                                    <!-- <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-excel-o"></i>
                                            </span>
                                            <span class="navi-text">Excel</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-text-o"></i>
                                            </span>
                                            <span class="navi-text">CSV</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-pdf-o"></i>
                                            </span>
                                            <span class="navi-text">PDF</span>
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" block-ui="maturingAmortizationListBlockUI">
                    <div class="mb-4">
                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div class="d-flex flex-wrap py-2 mr-3">
                                <div class="input-icon">
                                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchTermAuto.keyword" />
                                    <span><i class="far fa-search"></i></span>
                                </div>
                                <div class="dropdown dropdown-inline ml-4">
                                    <button
                                        type="button"
                                        class="btn btn-outline-success"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >
                                        <i class="fal fa-plus mr-1"></i>
                                        Add Filter
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="" ng-click="showFilter(filter)" class="dropdown-item" ng-repeat="filter in filters">
                                            <i
                                                class="mr-2"
                                                ng-class="filter.showFilter ?  'fal fa-times text-danger' : 'fal fa-check text-success'"
                                            ></i>
                                            {{ filter.name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="row">
                            <!-- <div class="col-lg-6 mb-2 mb-6" ng-if="filters[0].showFilter">
                                <label>Borrower:</label>
                                <select
                                    class="form-control"
                                    ng-model="params[$parent.filters[0].params.param1]"
                                    ng-options="loanProgram.id as loanProgram.name for loanProgram in loanPrograms"
                                >
                                    <option value="" disabled selected>Select Borrower</option>
                                </select>
                            </div> -->
                            <div class="col-lg-6 mb-2 mb-6" ng-if="filters[0].showFilter">
                                <label>{{$parent.filters[0].name}}:</label>
                                <div class="input-group">
                                    <input
                                        type="date"
                                        class="form-control"
                                        ng-model="params[$parent.filters[0].params.param1]"
                                        datepicker-localdate
                                    />
                                    <div class="input-group-append">
                                        <span class="input-group-text">to</span>
                                    </div>
                                    <input
                                        type="date"
                                        class="form-control"
                                        ng-model="params[$parent.filters[0].params.param2]"
                                        datepicker-localdate
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 mb-2 mb-6" ng-if="filters[1].showFilter">
                                <label>{{$parent.filters[1].name}}:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" step="1" ng-model="params[$parent.filters[1].params.param1]" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">to</span>
                                    </div>
                                    <input type="number" class="form-control" step="1" ng-model="params[$parent.filters[1].params.param2]" />
                                </div>
                            </div>
                            <div class="col-lg-6 mb-2 mb-6" ng-if="filters[2].showFilter">
                                <label>{{$parent.filters[2].name}}:</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[2].params.param1]"
                                        price
                                    />
                                    <div class="input-group-append">
                                        <span class="input-group-text">to</span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[2].params.param2]"
                                        price
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 mb-2 mb-6" ng-if="filters[3].showFilter">
                                <label>{{$parent.filters[3].name}}:</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[3].params.param1]"
                                        price
                                    />
                                    <div class="input-group-append">
                                        <span class="input-group-text">to</span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[3].params.param2]"
                                        price
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 mb-2 mb-6" ng-if="filters[3].showFilter">
                                <label>{{$parent.filters[3].name}}:</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[3].params.param1]"
                                        price
                                    />
                                    <div class="input-group-append">
                                        <span class="input-group-text">to</span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[3].params.param2]"
                                        price
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 mb-2 mb-6" ng-if="filters[4].showFilter">
                                <label>{{$parent.filters[4].name}}:</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[4].params.param1]"
                                        price
                                    />
                                    <div class="input-group-append">
                                        <span class="input-group-text">to</span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[4].params.param2]"
                                        price
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 mb-2 mb-6" ng-if="filters[5].showFilter">
                                <label>{{$parent.filters[5].name}}:</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[5].params.param1]"
                                        price
                                    />
                                    <div class="input-group-append">
                                        <span class="input-group-text">to</span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[5].params.param2]"
                                        price
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 mb-2 mb-6" ng-if="filters[6].showFilter">
                                <label>{{$parent.filters[6].name}}:</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[6].params.param1]"
                                        price
                                    />
                                    <div class="input-group-append">
                                        <span class="input-group-text">to</span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[6].params.param2]"
                                        price
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 mb-2 mb-6" ng-if="filters[7].showFilter">
                                <label>{{$parent.filters[7].name}}:</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[7].params.param1]"
                                        price
                                    />
                                    <div class="input-group-append">
                                        <span class="input-group-text">to</span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="0"
                                        ng-model="params[$parent.filters[7].params.param2]"
                                        price
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 mb-2 mb-6" ng-if="filters[8].showFilter">
                                <label>{{$parent.filters[8].name}}:</label>
                                <select
                                    class="form-control"
                                    ng-model="params[$parent.filters[8].params.param1]"
                                    ng-options="amortizationStatus.name as amortizationStatus.name for amortizationStatus in amortizationStatuses"
                                >
                                    <option value="" disabled selected>Select Status</option>
                                </select>
                            </div>
                        </div>
                        <div class="row my-4" ng-if="showFilterButton">
                            <div class="col-lg-12">
                                <button class="btn btn-primary btn-primary-icon mr-2" ng-click="applyFilter()">
                                    <span>
                                        <i class="fal fa-filter"></i>
                                        <span>Apply</span>
                                    </span>
                                </button>
                                <button class="btn btn-secondary btn-secondary-icon" ng-click="resetFilter()">
                                    <span>
                                        <span>Clear Filters</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="datatable datatable-default datatable-subtable">
                        <table
                            class="table table-vertical-center datatable-table"
                            ng-table="tableMaturingAmortization"
                            id="tableMaturingAmortization"
                            template-pagination="statics/partials/customs/pagination.html"
                        >
                            <tr class="datatable-row" ng-repeat="amortizationitem in $data">
                                <td
                                    class="datatable-cell datatable-cell-right text-right"
                                    header-class="'text-right'"
                                    data-title="'LOAN'"
                                    sortable="'loan_id'"
                                >
                                    <a href="" ng-click="view(amortizationitem.loan_id)">{{ amortizationitem.pnNo }}</a>
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left"
                                    header-class="'text-left'"
                                    data-title="'SCHEDULE'"
                                    sortable="'schedule'"
                                >
                                    {{ amortizationitem.schedule | date : 'mediumDate' }}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-right text-right"
                                    header-class="'text-right'"
                                    data-title="'DAYS'"
                                    sortable="'days'"
                                >
                                    {{ amortizationitem.days }}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-right text-right"
                                    header-class="'text-right'"
                                    data-title="'PRINCIPAL'"
                                    sortable="'principal'"
                                >
                                    {{ amortizationitem.principal | currency :'₱'}}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-right text-right"
                                    header-class="'text-right'"
                                    data-title="'INTEREST'"
                                    sortable="'interest'"
                                >
                                    {{ amortizationitem.interest | currency :'₱'}}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-right text-right"
                                    header-class="'text-right'"
                                    data-title="'ADD. INTEREST'"
                                    sortable="'additionalInterest'"
                                >
                                    {{ amortizationitem.additionalInterest | currency :'₱'}}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-right text-right"
                                    header-class="'text-right'"
                                    data-title="'PENALTY'"
                                    sortable="'penalty'"
                                >
                                    {{ amortizationitem.penalty | currency :'₱'}} (+{{ amortizationitem.daysExceed }} days)
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left text-right"
                                    header-class="'text-right'"
                                    data-title="'AMORTIZATION'"
                                    sortable="'total'"
                                >
                                    {{ amortizationitem.total | currency :'₱'}}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-right text-right"
                                    header-class="'text-right'"
                                    data-title="'PRINCIPAL BALANCE'"
                                    sortable="'principalBalance'"
                                >
                                    {{ amortizationitem.principalBalance | currency :'₱'}}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'STATUS'"
                                    sortable="'amortizationStatus_name'"
                                >
                                    {{ amortizationitem.amortizationStatus_name }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
