<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card card-transparent card-custom" ng-controller="LoanAddController">
                <div class="card-body p-0">
                    <div class="card card-custom card-shadowless rounded-top-0">
                        <div class="card-body p-0">
                            <div class="row justify-content-center p-5">
                                <div class="col" ng-switch="step">
                                    <form class="form mt-0" name="wizardForm">
                                        <div class="pb-2">
                                            <div class="mb-3 font-weight-bold text-dark">Enter Borrower Basic Informations</div>
                                            <div class="form-group">
                                                <label for="loanName">Loan Name</label>
                                                <span>*</span>
                                                <input type="text" class="form-control" id="loanName" name="loanName" ng-model="loan.loanName"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="loanAmount">Loan Amount</label>
                                                <span>*</span>
                                                <input type="text" class="form-control" id="loanAmount" name="loanAmount" ng-model="loan.loanAmount"/>
                                            </div>
                                            <div class="form-group">
                                                    <label for="borrower">Borrower</label>
                                                    <span>*</span>
                                                    <input type="text" class="form-control" id="borrower" name="borrower" ng-model="loan.borrower"/>
                                                </div>
                                        </div>
                                        <div class="d-flex justify-content-between border-top mt-5 pt-5">
                                            <div class="mr-2">
                                                <button class="btn btn-light-primary text-uppercase p-2 pl-3 pr-3" ui-sref="app.loans.list">
                                                    Cancel
                                                </button>
                                            </div>
                                            <div>
                                                <button class="btn btn-success text-uppercase p-2 pl-3 pr-3" ng-click="save()">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>