<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Session Timeout Notification</h4>
    </div>
    <div class="modal-body">
        <p>Your session is about to expire.</p>
        <p>
            Redirecting in
            <span class="countdown-holder">7s</span>
            seconds.
        </p>
        <div class="progress">
            <div
                class="progress-bar progress-bar-striped countdown-bar active"
                role="progressbar"
                style="min-width: 15px; width: 70%;"
            >
                <span class="countdown-holder">7s</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="session-timeout-dialog-logout" type="button" class="btn btn-default">Logout</button>
        <button id="session-timeout-dialog-keepalive" type="button" class="btn btn-primary" data-dismiss="modal">
            Stay Connected
        </button>
    </div>
</div>
