<div class="row mt-10">
    <div class="col">
        <div class="card card-custom gutter-b" ng-init="showObligations = true">
            <div class="card-header align-items-center border-0">
                <h3 class="card-title align-items-start flex-column">
                    <span class="font-weight-bolder text-dark">Outstanding Obligations as of {{ dateToday | date :'mediumDate' }}</span>
                </h3>
                <div class="card-toolbar">
                    <a
                        href="#"
                        class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3"
                        ng-click="previewBorrowerOutstandingObligations(borrower.borrowerId)"
                    >
                        Print
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="slide" ng-show="showObligations">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead class="table-active">
                                <tr>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">NO.</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">WINDOW</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">AVAILMENT DATE</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">MATURITY DATE</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">AMOUNT AVAILED</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">OUTSTANDING BALANCE</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="loan in loans">
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                <a href="#" ng-click="viewLoan(loan.id)">{{ loan.id }}</a>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ loan.loanProgram_name }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ loan.dateReleased | date:'mediumDate' }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ loan.creditLine_dateExpired | date:'mediumDate' }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ loan.loanTotalAmortizationPrincipal | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ loan.totalPrincipalBalance | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-success" ng-if="loans.length > 0">
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ borrower.totalAvailments | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ borrower.totalOutstandingBalance | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="loans.length == 0">
                                <tr>
                                    <td class="py-8" colspan="6" align="center">No records Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center p-0">
                <a class="btn btn-icon" ng-click="showObligations = !showObligations">
                    <i class="wide text-warning" ng-class=" showObligations ? 'fal fa-angle-up' : 'fal fa-angle-down' "></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-custom gutter-b" ng-init="showLoans = true">
            <div class="card-header align-items-center border-0">
                <h3 class="card-title align-items-start flex-column">
                    <span class="font-weight-bolder text-dark">Loans</span>
                </h3>
                <div class="card-toolbar">
                    <a
                        href="#"
                        class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3"
                        ng-click="previewBorrowerLoans(borrower.borrowerId)"
                    >
                        Print
                    </a>
                    <a
                        href="#"
                        class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3"
                        ng-click="previewBorrowerSOA(borrower.borrowerId)"
                    >
                        Statement of Account
                    </a>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="slide" ng-show="showLoans">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead class="table-active">
                                <tr>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">PN NO.</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">WINDOW</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">DATE GRANTED</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">MATURITY DATE</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">TERM</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">PAYMENT TERM</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">ORIGINAL PRINCIPAL</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">PRINCIPAL BALANCE</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">ORIGINAL INTEREST</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">INTEREST BALANCE</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">ACCOUNT STATUS</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">STATUS</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="loan in borrower.loans | startFrom:currentPage.loans * pageSize.loans | limitTo: pageSize.loans">
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                <a href="#" ng-click="viewLoan(loan.id)">{{ loan.pnNo }}</a>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ loan.loanProgram_name }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ loan.dateReleased | date:'mediumDate' }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ loan.lastAmortizationItem.schedule | date:'mediumDate' }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ loan.term_code }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">PAYMENT TERM</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ loan.latestAmortization.totalAmortizationPrincipal | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ loan.latestAmortization.totalAmortizationPrincipal - loan.totalPrincipalPayment | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ loan.totalAmortizationInterest | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ loan.totalAmortizationInterest - loan.totalTotalInterestPayment | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">ACCOUNT STATUS</span>
                                        </div>
                                    </td>
                                    <!-- <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg" ng-if="!loan.dateReleased">
                                                {{ loan.amount | currency :'₱'}}
                                            </span>

                                            <span class="text-dark-75 font-weight-bolder font-size-lg" ng-if="loan.dateReleased">
                                                {{ loan.loanTotalAmortizationPrincipal | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ loan.amount | currency :'₱'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ loan.interestRate_amount }} %</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ loan.dateReleased | date:'mediumDate' }}
                                            </span>
                                        </div>
                                    </td> -->
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg" ng-if="loan.loanStatus_name != 'APPROVED'">
                                                {{ loan.loanStatus_name }}
                                            </span>
                                            <a
                                                href=""
                                                class="btn btn-sm btn-clean btn-icon mr-2"
                                                ng-click="newLoanRelease(borrower.borrowerId,loan.id )"
                                                ng-if="loan.loanStatus_name == 'APPROVED'"
                                            >
                                                <i class="fad fa-file-plus"></i>
                                                New Loan Release
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr class="table-success">
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                </tr> -->
                            </tbody>
                            <tbody ng-if="borrower.loans.length == 0">
                                <tr>
                                    <td class="py-8" colspan="8" align="center">No records Found</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="borrower.loans">
                            <pagination data="borrower.loans" page-size="pageSize.loans" currentpage="currentPage.loans"></pagination>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center p-0">
                <a class="btn btn-icon" ng-click="showLoans = !showLoans">
                    <i class="wide text-warning" ng-class=" showLoans ? 'fal fa-angle-up' : 'fal fa-angle-down' "></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Start SOA Modal -->
<div id="statement-of-account" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title">Statement of Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h6>UCBP-CIIF FINANCE AND DEVELOPMENT CORPORATION</h6>
                                <h6>17th Floor, UCPB Executive Building, 7907 Makati Avenue, Brgy. Bel Air, Makati City</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-12">
                            <ul class="nav nav-tabs nav-tabs-line">
                                <li class="nav-item" ng-repeat="loan in loans">
                                    <a class="nav-link" role="tab" ng-class="{ 'active' : loan.id == selectedLoan.id }" ng-click="goToLoan(loan)">
                                        <span class="nav-text mr-3">{{ loan.pnNo }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-left" ng-repeat="loan in loans">
                                <table class="table table-borderless" id="tableSOA[{{$index}}]" ng-show="loan.id == selectedLoan.id">
                                    <thead>
                                        <tr>
                                            <td colspan="8" class="text-center p-0">Statement of Account</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="text-center p-0">Time Now</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td class="p-0">ACCOUNT NAME:</td>
                                            <td colspan="6" class="text-left p-0" colspan="5">{{ loan.borrower_name }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="p-0">ADDRESS:</td>
                                            <td colspan="6" class="text-left p-0" colspan="5">{{ loan.borrower_name }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="p-0">WINDOW:</td>
                                            <td colspan="6" class="text-left p-0" colspan="5">{{ loan.loanProgram_name }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="p-0">PN #:</td>
                                            <td colspan="6" class="text-left p-0" colspan="5">{{ loan.pnNo }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="p-0">AMOUNT OF LOAN:</td>
                                            <td colspan="6" class="text-left p-0" colspan="5">{{ loan.amount | currency :'₱' }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="p-0">INTEREST RATE:</td>
                                            <td colspan="6" class="text-left p-0" colspan="5">{{ loan.interestRate }}%</td>
                                        </tr>
                                        <!-- <tr>
                                            <td class="p-0">PAST DUE RATE:</td>
                                            <td class="p-0" colspan="5">{{ loan.borrower_name }}</td>
                                        </tr> -->
                                        <tr>
                                            <td></td>
                                            <td class="p-0">DATE RELEASED:</td>
                                            <td colspan="6" class="text-left p-0">{{ loan.dateReleased | date:'shortDate' }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="p-0">MATURITY DATE:</td>
                                            <td colspan="6" class="text-left p-0">{{ loan.lastAmortizationItem.schedule | date:'shortDate' }}</td>
                                        </tr>
                                        <tr>
                                            <td colsan="8"></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="p-0">DATE:</td>
                                            <td class="p-0">PARTICULARS:</td>
                                            <td class="p-0"># DAYS:</td>
                                            <td class="p-0">TOTAL:</td>
                                            <td class="p-0">INTEREST:</td>
                                            <td class="p-0">PENALTY:</td>
                                            <td class="p-0">PRINCIPAL:</td>
                                            <td class="p-0">PRIN. BALANCE:</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary font-weight-bold" ng-click="exportToExcel('#tableSOA[0]')">Export to Excel</button>
            </div>
        </div>
    </div>
</div>
<!-- End SOA Modal -->
