<div class="row mt-10">
    <div class="col">
        <div class="card card-custom gutter-b" ng-init="showPaymentHistory = true">
            <div class="card-header align-items-center border-0">
                <h3 class="card-title align-items-start flex-column">
                    <span class="font-weight-bolder text-dark">Payment History</span>
                </h3>
                <div class="card-toolbar">
                    <a
                        href="#"
                        class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3"
                        ng-click="previewBorrowerPaymentHistory(borrower.borrowerId)"
                    >
                        Print
                    </a>
                </div>
            </div>
            <div class="card-body p-0 slide">
                <div class="slide" ng-show="showPaymentHistory">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead class="table-active">
                                <tr>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">PN No.</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Transaction Date</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Posting Date</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Reference No.</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Payment Type</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Principal</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Interest</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">AIR</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Total</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">PDI</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Penalty</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Others</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Total Payment</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Sec/Unsec</span>
                                        </div>
                                    </th>

                                    <!-- <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Principal</span>
                                        </div>
                                    </th>

                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Interest</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Additional Interest</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Penalty</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Amortization</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Total Payable</span>
                                        </div>
                                    </th>

                                    <th>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Payment Date</span>
                                        </div>
                                    </th>

                                    <th>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Total Payment</span>
                                        </div>
                                    </th>

                                    <th>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Balance</span>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 text-uppercase font-size-lg">Overpayment</span>
                                        </div>
                                    </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    ng-repeat="payment in borrower.payments | startFrom:currentPage.paymentHistory * pageSize.paymentHistory | limitTo: pageSize.paymentHistory"
                                >
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                <a href="#" ng-click="viewLoan(payment.loan)">{{ payment.pnNo }}</a>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ payment.datePayment | date: 'mediumDate' }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ payment.dateTendered | date: 'mediumDate' }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">REF No.</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.paymentType_name }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.principal | currency :'₱' }}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ payment.interestPayment | currency :'₱' }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ payment.accruedInterestPayment | currency :'₱' }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.totalToPay | currency :'₱'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">Past Due Interest</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.penalty | currency :'₱'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.overPayment | currency :'₱'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.total | currency :'₱'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">Secured/Unsecured</span>
                                        </div>
                                    </td>

                                    <!-- <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ payment.amortizationItem_schedule | date: 'mediumDate' }}
                                            </span>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.principal | currency :'₱'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.interest | currency :'₱'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ payment.additionalInterest | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.penalty | currency :'₱'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.totalToPay | currency :'₱'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ payment.totalToPayWithPenalty | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ payment.datePayment | date: 'mediumDate' }}
                                            </span>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.total | currency :'₱'}}</span>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.balance | currency :'₱'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">{{ payment.overPayment | currency :'₱'}}</span>
                                        </div>
                                    </td> -->
                                </tr>
                                <!-- <tr class="table-success" ng-if="borrower.payments.length > 0">
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">Total</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                {{ borrower.totalPayments | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right">
                                            <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                        </div>
                                    </td>
                                </tr> -->
                            </tbody>
                            <tbody ng-if="borrower.payments.length == 0">
                                <tr>
                                    <td class="py-8" colspan="13" align="center">No records Found</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="borrower.payments">
                            <pagination
                                data="borrower.payments"
                                page-size="pageSize.paymentHistory"
                                currentpage="currentPage.paymentHistory"
                            ></pagination>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center p-0">
                <a class="btn btn-icon" ng-click="showPaymentHistory = !showPaymentHistory">
                    <i class="wide text-warning" ng-class=" showPaymentHistory ? 'fal fa-angle-up' : 'fal fa-angle-down' "></i>
                </a>
            </div>
        </div>
    </div>
</div>
