<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="app.dashboard">
                <i class="icon-speedometer"></i>
                Dashboard
                <span class="badge badge-info">NEW</span>
            </a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">Accounting</li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fad fa-file-alt"></i>
                Chart of Accounts
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fad fa-sack"></i>
                Budget
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fad fa-money-check-edit"></i>
                Disbursement Processing
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fad fa-university"></i>
                Bank Reconciliation
            </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="fad fa-desktop"></i>
                Monitoring
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link pl-16" ui-sref-active="active">
                        <i class="fad fa-hand-receiving"></i>
                        Accounts Receivable Monitoring
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-16" ui-sref-active="active">
                        <i class="fad fa-hand-holding fa-flip-horizontal"></i>
                        Accounts Payable Monitoring
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-16" ui-sref-active="active">
                        <i class="fad fa-monitor-heart-rate"></i>
                        FFE Monitoring
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-16" ui-sref-active="active">
                        <i class="fad fa-monitor-heart-rate"></i>
                        eDST Monitoring
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-16" ui-sref-active="active">
                        <i class="fad fa-monitor-heart-rate"></i>
                        Prepaid Expenses Monitoring
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-title">BookKeeping</li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="fad fa-books"></i>
                Books
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link pl-16" ui-sref-active="active">
                        <i class="fad fa-book-alt"></i>
                        General Journal
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-16" ui-sref-active="active">
                        <i class="fad fa-book"></i>
                        General Ledger
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-16" ui-sref-active="active">
                        <i class="fad fa-file-invoice"></i>
                        Sales Journal
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-16" ui-sref-active="active">
                        <i class="fad fa-receipt"></i>
                        Cash Receipt Journal
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-16" ui-sref-active="active">
                        <i class="fad fa-book-open"></i>
                        Subsidiary Ledgers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-16" ui-sref-active="active">
                        <i class="fad fa-book-user"></i>
                        Individual Ledgers
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
