<!-- Navbar -->
<div ng-include="'/statics/partials/components/full/navbar.html'" include-replace></div>
<div class="app-body">
    <!-- Navigation -->
    <div ng-include="'/statics/partials/components/full/sidebar-nav.html'" include-replace></div>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold" breadcrumb>
            <ncy-breadcrumb></ncy-breadcrumb>
        </ol>
        <div class="content container-fluid overflow-y-hidden">
            <ui-view></ui-view>
        </div>
        <!-- /.conainer-fluid -->
    </main>
    <!-- Aside Menu -->
    <div ng-include="'/statics/partials/components/full/aside.html'" include-replace></div>
</div>
<!-- Footer -->
<div ng-include="'/statics/partials/components/full/footer.html'" include-replace></div>
