<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card p-4 card-custom">
                        <div class="card-body">
                            <div class="text-center">
                                <div class="mx-auto pb-3" style="width: 200px;">
                                    <img class="logo" src="/statics/media/logo/CF3_200x100.png" />
                                </div>
                                <h4>UCPB CIIF Loan Management System</h4>
                                <p class="text-muted">Sign In to your account</p>
                            </div>
                            <form ng-controller="LoginController">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-right-radius-42">
                                            <i class="icon-user"></i>
                                        </span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control border-left-radius-42"
                                        placeholder="Username"
                                        ng-model="user.username"
                                    />
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-right-radius-42">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>
                                    <input
                                        type="password"
                                        class="form-control border-left-radius-42"
                                        placeholder="Password"
                                        ng-model="user.password"
                                        ng-enter="login()"
                                    />
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-primary px-4" ng-click="login()">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
