<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card card-custom" ng-controller="LoanListController">
                <div class="card-header">
                    <div class="card-title">
                        <span class="card-icon">
                            <i class="fad fa-users-class"></i>
                        </span>
                        <h3 class="card-label">Loan List</h3>
                    </div>
                     
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div class="d-flex flex-wrap py-2 mr-3">
                                <div class="input-icon">
                                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchTermAuto"/>
                                    <span><i class="far fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="datatable datatable-default datatable-subtable">
                        <table class="table table-vertical-center datatable-table" ng-table="tableLoans" template-pagination="statics/partials/customs/pagination.html">
                            <tr class="datatable-row" ng-repeat="loan in $data">
                                <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'LOAN NO.'" sortable="'id'">
                                    {{ loan.id }}
                                </td>
                                <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'BORROWER'" sortable="'borrower_name'">
                                    {{ loan.borrower_name }}
                                </td>
                                <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'WINDOW'" sortable="'loanProgram_name'">
                                    {{ loan.loanProgram_name }}
                                </td>
                                <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'TERM'" sortable="'term_name'">
                                    {{ loan.term_name }}
                                </td>

                                <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'CREDIT LINE AMOUNT'" sortable="'creditLine_amount'">
                                    {{ loan.creditLine_amount  | currency :'₱'}}
                                </td>
                                <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'LOAN AMOUNT'" sortable="'amount'">
                                    {{ loan.amount  | currency :'₱'}}
                                </td>
                                
                                <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'INTEREST RATE'" sortable="'interestRate'">
                                    {{ loan.interestRate }} %
                                </td>
                                <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'DATE RELEASED'" sortable="'dateReleased'">
                                    {{ loan.dateReleased | date:'mediumDate'  }}
                                </td>  
                                <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'STATUS'" sortable="'status_name'">
                                        {{ loan.status_name }}
                                    </td>                       
                                <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'ACTIONS'">
                                   
                                    <a href="" class="btn btn-sm btn-clean btn-icon mr-2" ng-click="view(loan.id)">
                                        <i class="fad fa-eye"></i>
                                    </a>
                                     
                                     
                                </td>
                            </tr>
                             
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>