<!-- <div class="animated fadeIn px-40">
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <ul class="dashboard-tabs nav nav-pills nav-danger row row-paddingless m-0 p-0" role="tablist">
                        <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
                            <a
                                class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center"
                                data-toggle="pill"
                                href="#tab_forms_widget_1"
                            >
                                <span class="nav-icon py-2 w-auto"></span>
                                <span class="nav-text font-size-lg py-2 font-weight-bold text-center">
                                    SAAS Application
                                </span>
                            </a>
                        </li>
                        <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
                            <a
                                class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center"
                                data-toggle="pill"
                                href="#tab_forms_widget_2"
                            >
                                <span class="nav-icon py-2 w-auto"></span>
                                <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">
                                    Main Categories
                                </span>
                            </a>
                        </li>
                        <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
                            <a
                                class="nav-link active border py-10 d-flex flex-grow-1 rounded flex-column align-items-center"
                                data-toggle="pill"
                                href="#tab_forms_widget_3"
                            >
                                <span class="nav-icon py-2 w-auto"></span>
                                <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">
                                    Video Tutorials
                                </span>
                            </a>
                        </li>
                        <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
                            <a
                                class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center"
                                data-toggle="pill"
                                href="#tab_forms_widget_4"
                            >
                                <span class="nav-icon py-2 w-auto"></span>
                                <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">
                                    Sales Statistics
                                </span>
                            </a>
                        </li>
                        <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3">
                            <a
                                class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center"
                                data-toggle="pill"
                                href="#tab_forms_widget_5"
                            >
                                <span class="nav-icon py-2 w-auto"></span>
                                <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">
                                    System Security
                                </span>
                            </a>
                        </li>
                        <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-0 mb-3 mb-lg-0">
                            <a
                                class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center"
                                data-toggle="pill"
                                href="#tab_forms_widget_5"
                            >
                                <span class="nav-icon py-2 w-auto"></span>
                                <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">
                                    Customer Support
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content m-0 p-0">
                        <div class="tab-pane active" id="forms_widget_tab_1" role="tabpanel"></div>
                        <div class="tab-pane" id="forms_widget_tab_2" role="tabpanel"></div>
                        <div class="tab-pane" id="forms_widget_tab_3" role="tabpanel"></div>
                        <div class="tab-pane" id="forms_widget_tab_4" role="tabpanel"></div>
                        <div class="tab-pane" id="forms_widget_tab_6" role="tabpanel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="flex-row align-items-center" ng-controller="MetroController">
    <div class="row justify-content-center px-40 pt-40">
        <div class="card-deck">
            <div class="card card-custom gutter-b card-stretch bg-hover-secondary-o-1" ng-click="goToLMS()">
                <div class="card-body text-center pt-4">
                    <div class="mt-7">
                        <div class="symbol symbol-circle symbol-lg-90">
                            <i
                                class="fad fa-hand-holding-usd icon-8x"
                                style="--fa-primary-color: #3699ff; --fa-secondary-color: #3d36ffbd;"
                            ></i>
                        </div>
                    </div>
                    <div class="my-4">
                        <a href="#" class="text-dark font-weight-bold font-size-h4">
                            Loan Management System
                        </a>
                    </div>
                </div>
            </div>
            <div class="card card-custom gutter-b card-stretch bg-dark-o-35" ng-click="goToAS()">
                <div class="card-body text-center pt-4">
                    <div class="mt-7">
                        <div class="symbol symbol-circle symbol-lg-90">
                            <i
                                class="fad fa-analytics icon-8x"
                                style="--fa-primary-color: #ffbb00; --fa-secondary-color: #ffbb0091;"
                            ></i>
                        </div>
                    </div>
                    <div class="my-4">
                        <a href="#" class="text-dark font-weight-bold font-size-h4">
                            Accounting System
                        </a>
                    </div>
                    <div>(In Progress)</div>
                </div>
            </div>
        </div>
    </div>
</div>
