<div class="flex-row align-items-center" ng-controller="MetroController">
    <div class="row justify-content-center px-40 pt-40">
        <div class="card-deck">
            <div class="card card-custom gutter-b card-stretch bg-hover-light-info min-w-250px" ng-repeat="app in apps" ng-click="goToApp(app)">
                <div class="card-body text-center pt-4">
                    <div ng-bind-html="app.iconAsHTML | trustedHTML"></div>
                    <div class="my-4">
                        <a href="#" class="text-dark font-weight-bold font-size-h4">{{ app.name }}</a>
                    </div>
                </div>
            </div>
            <!-- <div class="card card-custom gutter-b card-stretch">
                <div class="card-body text-center pt-4">
                    
                </div>
            </div> -->
            <!-- <div class="my-4">
                <h4 href="#" class="text-dark font-weight-bold">No Apps Installed</h4>
            </div> -->
        </div>
    </div>
</div>
