<div class="datatable datatable-default datatable-subtable table-responsive">
    <table
        class="table table-vertical-center datatable-table"
        ng-table="tableDocuments"
        id="tableDocuments"
        template-pagination="statics/partials/customs/pagination.html"
    >
        <tr class="datatable-row" ng-repeat-start="document in $data">
            <td class="datatable-cell-sorted datatable-cell-center datatable-cell">
                <a
                    class="datatable-cell-subtable"
                    href=""
                    ng-click="documentMovement.$hideRows = !documentMovement.$hideRows"
                    ng-init="group.$hideRows = false"
                >
                    <i
                        class="fas fa-caret-right"
                        ng-class="{ ' fa-caret-right': !documentMovement.$hideRows, ' fa-caret-down': documentMovement.$hideRows }"
                    ></i>
                </a>
            </td>

            <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'FILE NAME'" sortable="'name'">
                <a href="" ng-click="view(document.subProcessName,document.id)">{{ document.name }}</a>
            </td>
            <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'BORROWER'" sortable="'borrowerName'">
                {{ document.borrowerName }}
            </td>

            <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'DESCRIPTION'" sortable="'description'">
                {{ document.description }}
            </td>
            <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'STATUS'" sortable="'documentTypeName'">
                {{ document.currentStatus.name }}
            </td>
            <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'DATE CREATED'" sortable="'dateCreated'">
                {{ document.dateCreated | date : 'mediumDate' }}
            </td>

            <td class="datatable-cell datatable-cell-left" header-class="'text-left'" data-title="'DATE APPROVED'" sortable="'dateApproved'">
                {{ document.dateApproved | date : 'mediumDate' }}
            </td>
        </tr>
        <tr ng-hide="!documentMovement.$hideRows" ng-repeat-end align="center" print-exclude="true">
            <td colspan="7">
                <table class="table table-vertical-center table-light table-borderless">
                    <thead>
                        <th style="width: 28%">Activity</th>
                        <th style="width: 18%">Committee</th>
                        <th style="width: 18%">Status</th>
                        <th style="width: 18%">Description</th>
                        <th style="width: 18%">Date</th>
                    </thead>
                    <tr ng-repeat="documentmovement in document.documentMovements | orderBy:'-' " align="center">
                        <td style="width: 28%">
                            {{ documentmovement.name }}
                            <span ng-if=" documentmovement.outputName">-</span>
                            {{ documentmovement.outputName }}
                        </td>
                        <td style="width: 18%">{{ documentmovement.committeeName }}</td>
                        <td style="width: 18%">{{ documentmovement.statusName }}</td>
                        <td style="width: 18%">{{ documentmovement.description }}</td>
                        <td style="width: 18%">{{ documentmovement.dateCreated | date: 'mediumDate' }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
