<header class="app-header navbar" ng-controller="NavBarController">
    <button class="navbar-toggler d-lg-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" ui-sref="app.main">
        <img class="navbar-brand-full" src="statics/media/logo/cf_logo_headernav_170x29.png" alt="" />
        <img class="navbar-brand-minimized" src="statics/media/logo/CF_32x32.png" alt="" />
    </a>
    <button class="navbar-toggler sidebar-minimizer d-none d-lg-block" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-icon btn-clean" type="button" ng-click="gotToMetro()">
        <i class="fad fa-th-large"></i>
    </a>
    <ul class="nav navbar-nav ml-auto d-md-down-none">
        <li class="nav-item dropdown">
            <div class="dropdown">
                <div class="topbar-item" data-toggle="dropdown" data-offset="20px,0px" aria-expanded="false" ng-click="loadNotifications(user)">
                    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1 pulse pulse-primary">
                        <i class="fad fa-bells"></i>
                        <span class="pulse-ring"></span>
                    </div>
                </div>
                <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-lg dropdown-menu-right">
                    <div
                        class="navi navi-hover scroll my-4 ps"
                        data-scroll="true"
                        data-height="300"
                        data-mobile-height="200"
                        style="height: 50px; overflow: hidden;"
                        ng-if="!notifications.length>0"
                    >
                    
                         
                        <div class="navi-text text-center pt-4">
                            <div class="font-weight-bold">No Active Notifications</div>
                        </div>
                    
                </div>
                    <div
                        class="navi navi-hover scroll my-4 ps"
                        data-scroll="true"
                        data-height="300"
                        data-mobile-height="200"
                      
                        ng-if="notifications.length > 0 && !notifClick"
                    >
                        <a href="#" ng-click = "notifView(notification.id,notification.object_id,notification.content_type,notification.link)" class="navi-item" ng-repeat=" notification in notifications">
                            <div class="navi-link">
                                <div class="navi-icon mr-2">
                                    <i class="flaticon2-line-chart text-success"></i>
                                </div>
                                <div class="navi-text">
                                    <div class="font-weight-bold">{{ notification.message }} <span ng-if="notification.action_type"> {{ notification.action_type }} </span> </div>
                                   
                                    <div class="text-muted">{{ notification.committeeName  }}</div>
                                    <div class="text-muted">{{ notification.action_time | date:'medium'   }}</div>
                                </div>
                            </div>
                        </a>
                       
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown mr-8">
            <div class="dropdown">
                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px" aria-expanded="false">
                    <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2">
                        <div class="d-flex flex-column text-right">
                            <span class="font-weight-bold font-size-sm">{{ user.fullName }}</span>
                            <span class="font-size-sm" ng-if="user.account_type==2">
                                {{ user.committeePosition }}
                            </span>
                            <span class="font-size-sm" ng-if="user.account_type!=2">
                                {{ user.account_type_text }}
                            </span>
                        </div>
                        <div class="symbol symbol-35 symbol-info ml-2">
                            <span class="symbol-label font-size-h5">{{ user.fullName | limitTo: 1 }}</span>
                        </div>
                    </div>
                </div>
                <div class="dropdown-menu dropdown-menu-anim-up dropdown-menu-md dropdown-menu-right">
                    <div class="navi navi-hover">
                        <a href="" class="navi-item">
                            <div class="navi-link">
                                <div class="navi-icon mx-3 py-2">
                                    <i class="fad fa-user" style="color: lightskyblue;"></i>
                                </div>
                                <div class="navi-text">
                                    <div class="font-weight-bold">My Profile</div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="navi-item">
                            <div class="navi-link">
                                <div class="navi-icon mx-3 py-2">
                                    <i class="fad fa-envelope" style="color: darkorange;"></i>
                                </div>
                                <div class="navi-text">
                                    <div class="font-weight-bold">Messages</div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="navi-item">
                            <div class="navi-link">
                                <div class="navi-icon mx-3 py-2">
                                    <i class="fad fa-tasks" style="color: olivedrab;"></i>
                                </div>
                                <div class="navi-text">
                                    <div class="font-weight-bold">Tasks</div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="navi-item" ng-click="logout()">
                            <div class="navi-link">
                                <div class="navi-icon mx-3 py-2">
                                    <i class="fad fa-sign-out" style="color: red;"></i>
                                </div>
                                <div class="navi-text">
                                    <div class="font-weight-bold">Logout</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link navbar-toggler aside-menu-toggler" href="#">
                <span class="navbar-toggler-icon"></span>
            </a>
        </li> -->
    </ul>
</header>



<!-- Notifcations -->
<!-- 

<a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon2-paper-plane text-danger"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">Finance report has been generated</div>
                <div class="text-muted">25 hrs ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon2-user flaticon2-line- text-success"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">New order has been received</div>
                <div class="text-muted">2 hrs ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon2-pin text-primary"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">New customer is registered</div>
                <div class="text-muted">3 hrs ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon2-sms text-danger"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">Application has been approved</div>
                <div class="text-muted">3 hrs ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon2-pie-chart-3 text-warning"></i>
            </div>
            <div class="navinavinavi-text">
                <div class="font-weight-bold">New file has been uploaded</div>
                <div class="text-muted">5 hrs ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon-pie-chart-1 text-info"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">New user feedback received</div>
                <div class="text-muted">8 hrs ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon2-settings text-success"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">
                    System reboot has been successfully completed
                </div>
                <div class="text-muted">12 hrs ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon-safe-shield-protection text-primary"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">New order has been placed</div>
                <div class="text-muted">15 hrs ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon2-notification text-primary"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">Company meeting canceled</div>
                <div class="text-muted">19 hrs ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon2-fax text-success"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">New report has been received</div>
                <div class="text-muted">23 hrs ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon-download-1 text-danger"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">Finance report has been generated</div>
                <div class="text-muted">25 hrs ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon-security text-warning"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">New customer comment recieved</div>
                <div class="text-muted">2 days ago</div>
            </div>
        </div>
    </a>
    <a href="#" class="navi-item">
        <div class="navi-link">
            <div class="navi-icon mr-2">
                <i class="flaticon2-analytics-1 text-success"></i>
            </div>
            <div class="navi-text">
                <div class="font-weight-bold">New customer is registered</div>
                <div class="text-muted">3 days ago</div>
            </div>
        </div>
    </a> -->