<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" ui-sref="app.main">
        <img class="navbar-brand-full" src="statics/media/logo/cf_logo_headernav_170x29.png" alt="" />
        <img class="navbar-brand-minimized" src="statics/media/logo/CF_32x32.png" alt="" />
    </a>
    <button class="navbar-toggler sidebar-minimizer d-none d-lg-block" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto d-md-down-none" ng-controller="NavBarController">
        <li class="nav-item dropdown">
            <a
                class="nav-link"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                <div class="dropdown-header text-center">
                    <strong>You have 5 Notifications</strong>
                </div>
                <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> New User Registered</a>
                <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages</a>
                <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks</a>
                <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment</a>
                <a class="dropdown-item text-center" href="#"><strong>View All Notifications</strong></a>
            </div>
        </li>
        <li class="nav-item">
            <!-- <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Memebr Profile" data-placement="top">
				<a href="#" class="d-flex align-items-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<div class="d-flex flex-column text-right">
						<span class="text-muted font-weight-bold">Project Manager</span>
						<span class="font-weight-bold">Nick Stone</span>
					</div>
					<div class="symbol symbol-circle symbol-50 mr-3">
						<img alt="Pic" src="<?php echo Page::getMediaPath();?>users/300_21.jpg"/>
						<i class="symbol-badge bg-success"></i>
					</div>
				</a>
				<div class="dropdown-menu p-0 m-0 dropdown-menu-md dropdown-menu-right">
					...
				</div>
			</div> -->
            <div class="d-flex flex-column text-right">
                <span class="text-muted font-weight-bold">{{ user.fullName }}</span>
                <span class="font-weight-bold">{{ user.account_type_text }}</span>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <div class="symbol symbol-35 symbol-info mr-3">
                    <span class="symbol-label font-size-h5">T</span>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span>
                </a>
                <div class="dropdown-header text-center">
                    <strong>Settings</strong>
                </div>
                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
                <a class="dropdown-item" href="#"
                    ><i class="fa fa-usd"></i> Payments<span class="badge badge-secondary">42</span></a
                >
                <a class="dropdown-item" href="#"
                    ><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a
                >
                <div class="divider"></div>
                <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
                <a class="dropdown-item" href="#" ng-click="logout()"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-toggler aside-menu-toggler" href="#">
                <span class="navbar-toggler-icon"></span>
            </a>
        </li>
    </ul>
</header>
