<div class="sidebar">
	<nav class="sidebar-nav">
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" ui-sref-active="active" ui-sref="app.main">
					<i class="icon-speedometer"></i>Dashboard <span class="badge badge-info">NEW</span>
				</a>
			</li>
			<li class="divider"></li>
			<li class="nav-title">
				Loan Management
			</li>			
			<li class="nav-item">
				<a class="nav-link" ng-class="{active: $state.includes('app.borrowers')}" ui-sref="app.borrowers.list">
					<i class="icon-people"></i>Borrowers
				</a>
			</li>
			<li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
				<a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" >
					<i class="fas fa-hand-holding-usd"></i> Files
				</a>
				<ul class="nav-dropdown-items">


					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="app.documents.list({ subProcessName : 'credit-line-approval' })">
							<i class="fas fa-spinner"></i> Loan Applications
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="app.components.buttons">
							<i class="fas fa-spinner"></i> Processing
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="app.components.social-buttons">
							<i class="icon-puzzle"></i> Collections
						</a>
					</li>
					
				</ul>
			</li>

			<li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
					<a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" >
						<i class="fas fa-hand-holding-usd"></i> Loans
					</a>
					<ul class="nav-dropdown-items">
	
						
						<li class="nav-item">
							<a class="nav-link" ui-sref-active="active" ui-sref="app.documents.list({ subProcessName : 'credit-line-approval' })">
								<i class="fas fa-spinner"></i> Loan List
							</a>
						</li>
					 
						
					</ul>
				</li>
			<li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.icons')}">
				<a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.icons')}" href="#"><i class="fal fa-money-bill"></i> Payments</a>
				<ul class="nav-dropdown-items">
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="app.icons.flags"><i class="fas fa-spinner"></i>
							Processing <span class="badge badge-success">NEW</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="app.icons.fontawesome"><i class="fas fa-history"></i> History <span class="badge badge-secondary">4.7</span></a>
					</li>
					
				</ul>
			</li>
			<li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.icons')}">
				<a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.icons')}" href="#"><i class="fad fa-chart-bar"></i> Amortizations</a>
				<ul class="nav-dropdown-items">
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="app.icons.flags"><i class="far fa-calendar-check"></i>
							Schedules <span class="badge badge-success">NEW</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="app.icons.fontawesome"><i class="fas fa-coins"></i> Maturing Amortizations <span class="badge badge-secondary">4.7</span></a>
					</li>
					
				</ul>
			</li>
			<li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.icons')}">
				<a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.icons')}" href="#"><i class="far fa-desktop"></i> Monitoring</a>
				<ul class="nav-dropdown-items">
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="app.icons.flags"><i class="far fa-credit-card"></i>
							Credit Line </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="app.icons.fontawesome"><i class="fas fa-money-check"></i> Postdated Checks <span class="badge badge-secondary">4.7</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="app.icons.fontawesome"><i class="far fa-handshake"></i> Collaterals <span class="badge badge-secondary">4.7</span></a>
					</li>
					
				</ul>
			</li>			 
			<li class="divider"></li>
			<li class="nav-title">
				Settings
			</li>
			<li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.pages')}">
				<a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.pages')}" href="#"><i ass="icon-star"></i> Pages</a>
				<ul class="nav-dropdown-items">
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="appSimple.login"><i class="far fa-sign-in-alt"></i>
							Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="appSimple.register"><i class="fas fa-user-plus"></i> Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="appSimple.404"><i class="fas fa-exclamation-triangle"></i>
							Error 404</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref-active="active" ui-sref="appSimple.500"><i class="fas fa-exclamation-triangle"></i>
							Error 500</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>