<div class="sidebar" ng-controller="SideBarController">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.dashboard">
                    <i class="icon-speedometer"></i>
                    Dashboard
                    <span class="badge badge-info">NEW</span>
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                Loan Management
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-class="{active: $state.includes('app.borrowers')}" ui-sref="app.borrowers.list">
                    <i class="icon-people"></i>
                    Borrowers
                </a>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.documents')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.documents')}">
                    <i class="fas fa-hand-holding-usd"></i>
                    Credit Management
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a
                            class="nav-link pl-16"
                            ui-sref-active="active"
                            ng-repeat="subProcessSlug in subProcessSlugs"
                            ui-sref="app.documents.list({ subProcessName : subProcessSlug.slug })"
                        >
                            <i class="fas fa-spinner"></i>
                            {{ subProcessSlug.name }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.loans')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.loans')}">
                    <i class="fas fa-hand-holding-usd"></i>
                    Loans
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link pl-16" ui-sref-active="active" ui-sref="app.loans.list">
                            <i class="fas fa-spinner"></i>
                            Loan List
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.payments')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.payments')}" href="#">
                    <i class="fal fa-money-bill"></i>
                    Payments
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link pl-16" ui-sref-active="active" ui-sref="app.payments.add">
                            <i class="fas fa-spinner"></i>
                            Processing
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-16" ui-sref-active="active" ui-sref="app.payments.list">
                            <i class="fas fa-spinner"></i>
                            Payment List
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.icons')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.icons')}" href="#">
                    <i class="fad fa-chart-bar"></i>
                    Amortizations
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link pl-16" ui-sref-active="active" ui-sref="app.icons.flags">
                            <i class="far fa-calendar-check"></i>
                            Schedules
                            <span class="badge badge-success">NEW</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-16" ui-sref-active="active" ui-sref="app.icons.fontawesome">
                            <i class="fas fa-coins"></i>
                            Maturing Amortizations
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app. icons')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.icons')}" href="#">
                    <i class="far fa-desktop"></i>
                    Monitoring
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link pl-16" ui-sref-active="active" ui-sref="app.creditline.list">
                            <i class="far fa-credit-card"></i>
                            Credit Line
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-16" ui-sref-active="active" ui-sref="app.icons.fontawesome">
                            <i class="fas fa-money-check"></i>
                            Postdated Checks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-16" ui-sref-active="active" ui-sref="app.icons.fontawesome">
                            <i class="far fa-handshake"></i>
                            Collaterals
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    ng-class="{active: $state.includes('app.committees')}"
                    ui-sref="app.committees.offices"
                >
                    <i class="icon-people"></i>
                    Committee
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                Utilities
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    ng-class="{active: $state.includes('app.committees')}"
                    ui-sref="app.committees.offices"
                >
                    <i class="icon-people"></i>
                    Committee
                </a>
            </li>

            <!-- <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.committee')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.committee')}" href="#">
                    <i ass="icon-star"></i>
                    Committee
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.login">
                            <i class="far fa-sign-in-alt"></i>
                            Members
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.register">
                            <i class="fas fa-user-plus"></i>
                            Positions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.404">
                            <i class="fas fa-exclamation-triangle"></i>
                            Offices
                        </a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </nav>
</div>
