<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card card-custom" ng-controller="DocumentListController">
                <div class="card-header">
                    <div class="card-title">
                        <span class="card-icon">
                            <i class="fad fa-users-class"></i>
                        </span>
                        <h3 class="card-label">{{ subProcessName }} List</h3>
                    </div>
                    <div class="card-toolbar">
                        <button type="button" class="btn btn-primary float-right" ui-sref="app.documents.add">
                            <i class="fad fa-user-plus mr-2"></i>
                            New File
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <div class="d-flex justify-content-start align-items-center flex-wrap">
                            <div class="d-flex flex-wrap py-2 mr-3">
                                <div class="input-icon">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Search..."
                                        ng-model="searchTermAuto"
                                    />
                                    <span><i class="far fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="datatable datatable-default datatable-subtable">
                        <table
                            class="table table-vertical-center datatable-table"
                            ng-table="tableDocuments"
                            template-pagination="statics/partials/customs/pagination.html"
                        >
                            <tr class="datatable-row" ng-repeat-start="document in $data">
                                <td class="datatable-cell-sorted datatable-cell-center datatable-cell">
                                    <a
                                        class="datatable-cell-subtable"
                                        href=""
                                        ng-click="documentMovement.$hideRows = !documentMovement.$hideRows"
                                        ng-init="group.$hideRows = false"
                                    >
                                        <i
                                            class="fas fa-caret-right"
                                            ng-class="{ ' fa-caret-right': !documentMovement.$hideRows, ' fa-caret-down': documentMovement.$hideRows }"
                                        ></i>
                                    </a>
                                </td>
                               
                                <td
                                    class="datatable-cell datatable-cell-left"
                                    header-class="'text-left'"
                                    data-title="'FILE NAME'"
                                    sortable="'name'"
                                >
                                    <a href=""
                                    ng-click="view(document.subProcessName,document.id)">
                                        {{ document.name }}
                                    </a>
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left"
                                    header-class="'text-left'"
                                    data-title="'BORROWER'"
                                    sortable="'borrowerName'"
                                >
                                    {{ document.borrowerName }}
                                </td>
                                 

                                <td
                                    class="datatable-cell datatable-cell-left"
                                    header-class="'text-left'"
                                    data-title="'DESCRIPTION'"
                                    sortable="'description'"
                                >
                                    {{ document.description }}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left"
                                    header-class="'text-left'"
                                    data-title="'FILE TYPE'"
                                    sortable="'documentTypeName'"
                                >
                                    {{ document.documentTypeName }}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left"
                                    header-class="'text-left'"
                                    data-title="'STATUS'"
                                    sortable="'documentTypeName'"
                                >
                                    {{ document.currentStatus.name }}
                                </td>
                                <!-- <td
                                    class="datatable-cell datatable-cell-left"
                                    header-class="'text-left'"
                                    data-title="'ACTIONS'"
                                >
                                    <a
                                        href=""
                                        class="btn btn-sm btn-clean btn-icon mr-2"
                                        ng-click="view(document.subProcessName,document.id)"
                                    >
                                        <i class="fad fa-eye"></i>
                                    </a>
                                </td> -->
                            </tr>
                            <tr ng-hide="!documentMovement.$hideRows" ng-repeat-end align="center">
                                <td colspan="9">
                                    <table class="table table-vertical-center table-light table-borderless">
                                        <thead>
                                            <th style="width: 28%;">
                                                Activity
                                            </th>
                                            <th style="width: 18%;">
                                                Committee
                                            </th>
                                            <th style="width: 18%;">
                                                Status
                                            </th>
                                            <th style="width: 18%;">
                                                Description
                                            </th>
                                            <th style="width: 18%;">
                                                Date
                                            </th>
                                        </thead>
                                        <tr
                                            ng-repeat="documentmovement in document.documentMovements | orderBy:'-' "
                                            align="center"
                                        >
                                            <td style="width: 28%;">
                                                {{ documentmovement.name }}
                                                <span ng-if=" documentmovement.outputName">-</span>
                                                {{ documentmovement.outputName }}
                                            </td>
                                            <td style="width: 18%;">
                                                {{ documentmovement.committeeName }}
                                            </td>
                                            <td style="width: 18%;">
                                                {{ documentmovement.statusName }}
                                            </td>
                                            <td style="width: 18%;">
                                                {{ documentmovement.description }}
                                            </td>
                                            <td style="width: 18%;">
                                                {{ documentmovement.dateCreated | date: 'medium' }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
