<div ng-controller="BorrowerInfoController">
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div class="mr-3">
                                    <div class="d-flex align-items-center mr-3">
                                        <h5 class="d-flex align-items-center text-dark font-weight-bold mr-3">{{ borrower.borrowerName }}</h5>
                                    </div>
                                    <div class="d-flex flex-wrap my-2">
                                        <a class="text-dark-75 font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                            <i class="fad fa-users"></i>
                                            {{ borrower.borrowerType }}
                                        </a>
                                        <a class="text-dark-75 font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                            <i class="fad fa-map-marker-alt"></i>
                                            {{ borrower.branchCode }}
                                        </a>
                                        <a class="text-dark-75 font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                            <i class="fad fa-calendar-day"></i>
                                            {{ borrower.clientSince }}
                                        </a>
                                        <a class="text-dark-75 font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                            <i class="fad fa-id-card"></i>
                                            {{ borrower.tin }}
                                        </a>
                                    </div>
                                </div>
                                <!-- <div class="mb-10">
                                    <div class="dropdown dropdown-inline">
                                        <a
                                            href="#"
                                            class="btn btn-primary btn-sm font-weight-bolder text-uppercase"
                                            data-toggle="dropdown"
                                            aria-expanded="false"
                                        >
                                            Actions
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                            <ul class="navi navi-hover">
                                                <li class="navi-header font-weight-bold py-4">
                                                    <span class="font-size-lg">Choose Action:</span>
                                                    <i
                                                        class="flaticon2-information icon-md text-muted"
                                                        data-toggle="tooltip"
                                                        data-placement="right"
                                                        title="Click to learn more..."
                                                    ></i>
                                                </li>
                                                <li class="navi-separator mb-3 opacity-70"></li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link" ng-click="edit(borrower.borrowerId)">
                                                        <span class="navi-icon"><i class="fal fa-edit mr-2"></i></span>
                                                        <span class="navi-text">Update</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link" ng-click="delete(borrower.borrowerId)">
                                                        <span class="navi-icon"><i class="fal fa-trash-alt mr-2"></i></span>
                                                        <span class="navi-text">Delete</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="d-flex align-items-center flex-wrap justify-content-between">
                                <div class="flex-grow-1 font-weight-bold text-dark-50 py-2 py-lg-2 mr-5">{{ borrower.description }}</div>
                                <!-- <div class="d-flex mt-4 mt-sm-0">
                                    <span class="font-weight-bold mr-4">Progress</span>
                                    <div class="progress progress-xs mt-2 mb-2 flex-shrink-0 w-150px w-xl-500px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 63%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-weight-bolder text-dark ml-4">78%</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <ul class="nav nav-tabs nav-tabs-line">
                <li class="nav-item" ng-repeat="template in templates">
                    <a
                        class="nav-link"
                        role="tab"
                        ng-class="{ 'active' : template.templateNumber == currentTemplate.templateNumber }"
                        ng-click="goToTemplate(template.templateNumber)"
                    >
                        <span class="nav-icon mr-2"><i class="{{ template.icon }} icon-lg"></i></span>
                        <span class="nav-text mr-3">{{ template.name }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <ng-include src="getInfoTemplate()"></ng-include>

    <!-- <div class="col-xl-12">
        <div class="card card-custom gutter-b">
            <div class="card-header card-header-tabs-line">
                <div class="card-toolbar">
                    <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-bold nav-tabs-line-3x" role="tablist">
                        <li class="nav-item" ng-repeat="template in templates">
                            <a
                                class="nav-link"
                                data-toggle="tab"
                                role="tab"
                                ng-class="{ 'active' : template.templateNumber == currentTemplate.templateNumber }"
                                ng-click="goToTemplate(template.templateNumber)"
                            >
                                <span class="nav-icon mr-2"><i class="{{ template.icon }} icon-lg"></i></span>
                                <span class="nav-text mr-3">{{ template.name }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content pt-3">
                    <ng-include src="getTemplate()"></ng-include>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Modal Attach File -->
    <div id="attach-file" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Attach Files</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="pb-1">
                        <div class="form-group">
                            <label>Attachments</label>
                            <input
                                type="file"
                                id="fileAttachment"
                                name="fileAttachment"
                                multiple
                                select-ng-files="fileAttachment"
                                ng-model="fileAttachment.attachment"
                                ng-change="fileOnChange()"
                                hidden
                            />
                            <div class="dropzone dropzone-multi">
                                <div class="dropzone-panel mb-lg-0 mb-2">
                                    <a class="dropzone-select btn btn-light-primary font-weight-bold btn-sm" ng-click="selectFile()">Select files</a>
                                    <a class="dropzone-remove-all btn btn-light-primary font-weight-bold btn-sm">Remove All</a>
                                </div>
                                <div class="dropzone-items">
                                    <div class="dropzone-item" ng-repeat="file in fileList">
                                        <div class="dropzone-file">
                                            <div class="dropzone-filename">
                                                <span>{{ file.name }}</span>
                                                <strong>
                                                    <span>({{ file.size/1000 | number : 2 }} KB)</span>
                                                </strong>
                                            </div>
                                            <div class="dropzone-error" data-dz-errormessage></div>
                                        </div>
                                        <div class="dropzone-toolbar">
                                            <span class="dropzone-delete" data-dz-remove ng-click="removeFile($index)">
                                                <i class="fal fa-times icon-md"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description *</label>
                            <textarea
                                ng-model="newAttachment.attachmentDescription"
                                name="attachmentDescription"
                                type="text"
                                rows="3"
                                cols="50"
                                class="form-control form-control-solid textarea"
                            ></textarea>
                            <span class="form-text text-muted">Please enter attachment description.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light font-weight-bold" data-dismiss="modal">Close</button>
                    <button
                        class="btn btn-primary font-weight-bold"
                        type="button"
                        ng-disabled="fileList.length == 0 || !newAttachment.attachmentDescription"
                        ng-click="attachFile(borrower)"
                    >
                        <i class="fal fa-plus mr-2"></i>
                        Attach
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
</div>
