<div class="row" ng-controller="BorrowerInfoController">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="mr-3">
                                <div class="d-flex align-items-center mr-3">
                                    <h5 class="d-flex align-items-center text-dark font-weight-bold mr-3">
                                        {{ borrower.cooperative.name }}
                                    </h5>
                                </div>
                                <div class="d-flex flex-wrap my-2">
                                    <a
                                        href="#"
                                        class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"
                                    >
                                        <i class="fad fa-users"></i>
                                        {{ borrower.cooperative.cooperativeTypeText }}
                                    </a>
                                    <a
                                        href="#"
                                        class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"
                                    >
                                        <i class="fad fa-envelope mr-1"></i>
                                        {{ borrower.cooperative.emailAddress }}
                                    </a>
                                    <a
                                        href="#"
                                        class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"
                                    >
                                        <i class="fad fa-mobile-android-alt"></i>
                                        {{ borrower.cooperative.phoneNo }}
                                    </a>
                                    <a
                                        href="#"
                                        class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2"
                                    >
                                        <i class="fad fa-map-marker-alt"></i>
                                        {{ borrower.cooperative.address }}
                                    </a>
                                </div>
                            </div>
                            <div class="mb-10">
                                <div class="dropdown dropdown-inline">
                                    <a
                                        href="#"
                                        class="btn btn-primary btn-sm font-weight-bolder text-uppercase dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        Actions
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <ul class="navi navi-hover">
                                            <li class="navi-header font-weight-bold py-4">
                                                <span class="font-size-lg">Choose Action:</span>
                                                <i
                                                    class="flaticon2-information icon-md text-muted"
                                                    data-toggle="tooltip"
                                                    data-placement="right"
                                                    title="Click to learn more..."
                                                ></i>
                                            </li>
                                            <li class="navi-separator mb-3 opacity-70"></li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link" ng-click="edit(borrower.borrowerId)">
                                                    <span class="navi-icon"><i class="fal fa-edit mr-2"></i></span>
                                                    <span class="navi-text">Update</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link" ng-click="delete(borrower.borrowerId)">
                                                    <span class="navi-icon"><i class="fal fa-trash-alt mr-2"></i></span>
                                                    <span class="navi-text">Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap justify-content-between">
                            <div class="flex-grow-1 font-weight-bold text-dark-50 py-2 py-lg-2 mr-5">
                                {{ borrower.cooperative.description }}
                            </div>
                            <!-- <div class="d-flex mt-4 mt-sm-0">
                                <span class="font-weight-bold mr-4">Progress</span>
                                <div class="progress progress-xs mt-2 mb-2 flex-shrink-0 w-150px w-xl-500px">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 63%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="font-weight-bolder text-dark ml-4">78%</span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-8">
                <div class="card card-custom gutter-b">
                    <div class="card-header card-header-tabs-line">
                        <div class="card-toolbar">
                            <ul
                                class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand"
                                role="tablist"
                            >
                                <li class="nav-item" ng-repeat="template in templates">
                                    <a
                                        class="nav-link"
                                        data-toggle="tab"
                                        role="tab"
                                        ng-class="{ 'active' : template.templateNumber == currentTemplate }"
                                        ng-click="goToTemplate(template.templateNumber)"
                                    >
                                        <span class="nav-icon"><i class="{{ template.icon }}"></i></span>
                                        <span class="nav-text">{{ template.name }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content pt-3">
                            <ng-include src="getTemplate()"></ng-include>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="card-icon">
                                <i class="fad fa-users-class"></i>
                            </span>
                            <h3 class="card-label">Files</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div
                            class="d-flex flex-wrap align-items-center pb-1"
                            ng-repeat-start="subProcess in subprocesses"
                        >
                            <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 mr-2">
                                <a href="#" class="text-dark font-weight-bold text-hover-primary mb-1 font-size-lg">
                                    {{subProcess.name}}
                                </a>
                            </div>
                            <a
                                href="#"
                                class="btn btn-outline-success btn-sm"
                                ng-if="subProcess.isAllowed && subProcess.isAllowedByParent"
                                ng-click="newLoanApplication(borrower.borrowerId,subProcess.id)"
                            >
                                <i class="fad fa-layer-plus"></i>New
                            </a>
                        </div>
                        <div
                            class="ml-4 pb-1"
                            ng-repeat="document in borrower.documents | filter: {subProcess:{id:subProcess.id}}"
                            ng-repeat-end
                        >
                            <div class="d-flex align-items-center flex-grow-1">
                                <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
                                    <div class="d-flex flex-column py-1 w-75">
                                        <a
                                            href="#"
                                            class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1"
                                            ng-click="goToFile(subProcess.name,document.id)"
                                        >
                                            {{document.id}} {{document.name}}
                                        </a>
                                        <span class="text-muted font-weight-bold">
                                            Due in 2 Days
                                        </span>
                                    </div>
                                    <span
                                        class="label label-lg label-inline font-weight-bold py-4"
                                        ng-class="{ 'label-light-success' : document.documentMovements[0].status.name == 'Approved',
                                        'label-light-primary' : document.documentMovements[0].status.name == 'Processing',
                                        'label-light-danger' : document.documentMovements[0].status.name == 'Denied' }"
                                    >
                                        {{document.documentMovements[0].status.name}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- <ul class="text-dark list-unstyled">
                            <li class="font-size-h6"></li>
                            <ul class="font-size-h7">
                                <li ng-repeat="subProcess in subprocesses">
                                    {{subProcess.name}}
                                    <div class="card-toolbar">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            ng-if="subProcess.isAllowed && subProcess.isAllowedByParent"
                                            ng-click="newLoanApplication(borrower.borrowerId,subProcess.id)"
                                        >
                                            New {{subProcess.name}}
                                        </button>
                                    </div>

                                    <ul class="font-size-h7">
                                        <li
                                            ng-repeat="document in borrower.documents | filter: {subProcess:{id:subProcess.id}}"
                                        >
                                            {{document.id}} {{document.name}}
                                            {{document.documentMovements[0].status.name}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </ul> -->
                    </div>
                </div>
 
                        <div class="card card-custom gutter-b">
                            <div class="card-header">
                                <div class="card-title">
                                    <span class="card-icon">
                                        <i class="fad fa-users-class"></i>
                                    </span>
                                    <h3 class="card-label">Attachments</h3>
                                </div>
                                                     
                            </div>
                            <div class="card-body"> 
                                    <div class=" col-xxl-12">                                
                                            <div class="pb-5"> 
                                                 
                                                <ul class=" text-dark list-unstyled">
                                                    <li class="font-size-h6">Attachments</li>
                                                    <ul class="font-size-h7">
                                                        <li ng-repeat="borrowerAttachment in borrowerAttachments">                                                
                                                            <a href="" ng-click="downloadFile(borrowerAttachment.fileAttachment,borrowerAttachment.fileName)">{{ borrowerAttachment.fileName}} - <span ng-if="borrowerAttachment.description" ng-bind="borrowerAttachment.description"></span></a>
                                                        </li>
                                                    </ul>
                                                </ul>
                                            </div>
                                            <div class="pb-5">
                                                <div class="form-group">
                                                    <label>File Attachment</label>
                                                    <input type="file" id="fileAttachment" name="fileAttachment" multiple select-ng-files="fileAttachment" ng-model="fileAttachment.attachment" ng-change="fileOnChange()" hidden>
                                                    <div class="dropzone dropzone-multi">
                                                        <div class="dropzone-panel mb-lg-0 mb-2">
                                                            <a class="dropzone-select btn btn-light-primary font-weight-bold btn-sm" ng-click="selectFile()">Select files</a>
                                                            <a class="dropzone-remove-all btn btn-light-primary font-weight-bold btn-sm">Remove All</a>
                                                        </div>
                                                   
                                                        <div class="dropzone-items">
                                                            <div class="dropzone-item" ng-repeat="file in fileList">
                                                                <div class="dropzone-file">
                                                                    <div class="dropzone-filename">
                                                                        <span>{{ file.name }}</span>
                                                                        <strong><span>({{ file.size/1000 | number : 2 }} KB)</span></strong>
                                                                    </div>
                                                                    <div class="dropzone-error" data-dz-errormessage></div>
                                                                </div>
                                                                <div class="dropzone-toolbar">
                                                                    <span class="dropzone-delete" data-dz-remove ng-click="removeFile($index)"><i class="fal fa-times icon-md"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Description *</label>
                                                    <textarea ng-model="newAttachment.attachmentDescription" name="attachmentDescription" type="text" rows="4" cols="50" class="form-control form-control-solid form-control-lg textarea" ></textarea>
                                                    <span class="form-text text-muted">Please enter attachment description.</span>
                                                </div>
                                            </div>                                   
                                            <div class="d-flex justify-content-end border-top mt-5 pt-10">
                                                <button class="btn btn-outline-primary ont-weight-bold text-uppercase "   type="button" ng-disabled="fileList.length == 0 || !newAttachment.attachmentDescription" ng-click="attachFile(borrower)">
                                                    <i class="fal fa-plus mr-2"></i>Attach
                                                </button>
                                            </div>
                                        </div>
                            </div>
                        </div>
                     
            </div>

          
        </div>
    </div>
</div>
