<div class="animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card card-transparent card-custom" ng-controller="BorrowerAddController">
                <div class="card-body p-0" block-ui="borrowerBlockUI">
                    <div class="wizard">
                        <div class="wizard-nav">
                            <div class="wizard-steps">
                                <div
                                    class="wizard-step"
                                    ng-repeat="step in steps"
                                    ng-class="{'active':step.step == currentStep}"
                                    ng-click="goToStep(step.step)"
                                >
                                    <div class="wizard-wrapper">
                                        <div class="wizard-number">{{ step.step }}</div>
                                        <div class="wizard-label">
                                            <div class="wizard-title">{{ step.name }}</div>
                                            <div class="wizard-desc">{{ step.desc }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-custom card-shadowless rounded-top-0">
                            <div class="card-body p-0">
                                <div class="row justify-content-center p-5">
                                    <div class="col" ng-switch="step">
                                        <form class="form mt-0" name="form.wizardForm">
                                            <ng-include src="getStepTemplate()"></ng-include>
                                            <div class="d-flex justify-content-between border-top mt-5 pt-5">
                                                <div class="mr-2">
                                                    <button class="btn btn-light-primary text-uppercase p-2 pl-3 pr-3" ng-click="cancel()">
                                                        Cancel
                                                    </button>
                                                    <button
                                                        class="btn btn-light-primary text-uppercase p-2 pl-3 pr-3"
                                                        ng-click="prevStep()"
                                                        ng-if="currentStep != '1'"
                                                    >
                                                        Previous
                                                    </button>
                                                </div>
                                                <div>
                                                    <button
                                                        class="btn btn-success text-uppercase p-2 pl-3 pr-3"
                                                        ng-disabled="checkForm()"
                                                        ng-if="currentStep == steps.length"
                                                        ng-click="save()"
                                                    >
                                                        Submit
                                                    </button>
                                                    <button
                                                        class="btn btn-primary text-uppercase p-2 pl-3 pr-3"
                                                        ng-click="nextStep()"
                                                        ng-if="currentStep != steps.length"
                                                    >
                                                        Next Step
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
