{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UCPB CIIF | Loan Management System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
<body class="header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden breadcrumb-fixed">
    <ui-view class="app"></ui-view>
    <script data-main="{%static "scripts/require.app" %}" src="{%static "libs/require/require.js" %}"></script>
</body>
</html> 