{% load staticfiles %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>UCPB CIIF | Loan Management System</title>
    <link rel="apple-touch-icon" href="assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">
    <!-- BEGIN: Vendor CSS-->
    <!-- <link href={%static "assets/vendors/css/vendors.min.css" %} rel="stylesheet" type="text/css" /> -->
    <!-- <link href={%static "assets/vendors/css/ui/prism.min.css" %} rel="stylesheet" type="text/css" /> -->
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <!-- <link href={%static "assets/css/bootstrap.min.css" %} rel="stylesheet" type="text/css" /> -->
	<!-- <link href={%static "assets/css/bootstrap-extended.min.css" %} rel="stylesheet" type="text/css" /> -->
    <!-- <link href={%static "assets/css/colors.min.css" %} rel="stylesheet" type="text/css" />
    <link href={%static "assets/css/components.min.css" %} rel="stylesheet" type="text/css" />
    <link href={%static "assets/css/themes/dark-layout.min.css" %} rel="stylesheet" type="text/css" />
    <link href={%static "assets/css/themes/semi-dark-layout.min.css" %} rel="stylesheet" type="text/css" /> -->
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <!-- <link href={%static "assets/css/core/menu/menu-types/vertical-menu.min.css" %} rel="stylesheet" type="text/css" />
	<link href="{%static "libs/toastr/dist/css/angular-toastr.min.css" %}" rel="stylesheet"> -->
	<!-- END: Page CSS-->
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns  navbar-sticky fixed-footer" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <div ui-view>
    </div>

    <!-- BEGIN: Vendor JS-->
    <!-- <script src="assets/vendors/js/vendors.min.js"></script> -->
    <!-- <script src="assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.min.js"></script>
    <script src="assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.min.js"></script>
    <script src="assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>
    <script src="assets/vendors/js/forms/select/select2.full.min.js"></script> -->
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <!-- <script src="assets/vendors/js/ui/prism.min.js"></script> -->
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <!-- <script src="assets/js/scripts/configs/vertical-menu-light.min.js"></script>
    <script src="assets/js/core/app-menu.min.js"></script>
    <script src="assets/js/core/app.min.js"></script> -->
    <!-- END: Theme JS-->
    <!-- <script src="{%static "assets/vendors/js/vendors.min.js" %}" type="text/javascript"></script>
    <script src="{%static "assets/js/scripts/configs/vertical-menu-light.min.js" %}" type="text/javascript"></script>
    <script src="{%static "assets/js/core/app-menu.min.js" %}" type="text/javascript"></script>
    <script src="{%static "assets/js/core/app.min.js" %}" type="text/javascript"></script> -->
    <script data-main="{%static "scripts/require.index" %}" src="{%static "libs/require/require.js" %}"></script>
</body>
<!-- END: Body-->
</html>