<div class="row" ng-controller="CreditLineInfoController">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="mr-3">
                                <a
                                    href="#"
                                    class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3"
                                >
                                    Credit Line No. {{ creditLine.id }}
                                    <span class="label label-light-info label-inline font-weight-bolder ml-2">
                                        {{creditLine.status_name}}
                                    </span>
                                    <!-- <i class="fas fa-check-circle text-success icon-md ml-2"></i> -->
                                </a>
                            </div>
                            <div class="my-lg-0 my-1"> 
                                <a
                                    href="#"
                                    class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3"
                                    ng-click="newLoanAvailment(creditLine.borrower,creditLine.id )"
                                    ng-if="creditLine.dateApproved"
                                >
                                    New Loan Availment
                                </a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="mr-3">
                                <div class="d-flex flex-wrap my-2">
                                    <a
                                        href="#"
                                        class="text-hover-info font-weight-bolder mr-lg-8 mr-5 mb-lg-0 mb-2 text-primary"
                                        ng-click="viewBorrower(creditLine.borrower)"
                                    >
                                        {{ creditLine.borrower_name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap justify-content-between">
                            <div class="flex-grow-1 font-weight-bold text-dark-50 mr-5">
                                <div class="d-flex align-items-center mb-2">
                                    <span class="font-weight-bolder mr-2">Program:</span>
                                    <span class="font-weight-bolder text-dark">
                                        {{ creditLine.loanProgram_name }}
                                    </span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <span class="font-weight-bolder mr-2">Credit Line Amount:</span>
                                    <span class="font-weight-bolder text-dark">
                                        {{ creditLine.amount | currency :'₱'}}
                                    </span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <span class="font-weight-bolder mr-2">Interest Rate:</span>
                                    <span class="font-weight-bolder text-dark">
                                        {{ creditLine.interestRate_amount }}
                                        <span>%</span>
                                    </span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <span class="font-weight-bolder mr-2">Term:</span>
                                    <span class="font-weight-bolder text-dark">
                                        {{ creditLine.term_name }}
                                    </span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <span class="font-weight-bolder mr-2">Purpose:</span>
                                    <span class="font-weight-bolder text-dark">
                                        {{ creditLine.purpose }}
                                    </span>
                                    <span
                                        class="text-dark ml-2"
                                        ng-click="edit(creditLine.id,creditLine.purpose,'Purpose')"
                                        data-toggle="modal"
                                        data-target="#edit-purpose-security"
                                    >
                                        <i class="fad fa-edit"></i>
                                    </span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <span class="font-weight-bolder mr-2">Security:</span>
                                    <span class="font-weight-bolder text-dark">
                                        {{ creditLine.security }}
                                    </span>
                                    <span
                                        class="text-dark ml-2"
                                        ng-click="edit(creditLine.id,creditLine.security,'Security')"
                                        data-toggle="modal"
                                        data-target="#edit-purpose-security"
                                    >
                                        <i class="fad fa-edit"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap align-items-center py-2">
                                <div class="d-flex align-items-center" ng-show="creditLine.dateApproved">
                                    <div class="mr-6">
                                        <div class="font-weight-bold mb-2">Approval Date</div>
                                        <span
                                            class="btn btn-sm btn-text btn-light-primary text-uppercase font-weight-bold"
                                        >
                                            {{ creditLine.dateApproved | date: 'mediumDate' }}
                                        </span>
                                    </div>
                                    <div class="mr-6">
                                        <div class="font-weight-bold mb-2">Expiry Date</div>
                                        <span
                                            class="btn btn-sm btn-text btn-light-danger text-uppercase font-weight-bold"
                                        >
                                            {{ creditLine.dateExpired | date: 'mediumDate' }}
                                        </span>
                                    </div>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="d-flex align-items-center flex-wrap">
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1" ng-repeat="document in documents">
                        <span class="mr-4">
                            <i class="fad fa-file-alt icon-2x text-muted font-weight-bold"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">{{document.subProcessName}}</span>
                            <span class="font-weight-bolder font-size-h5">
                                <a href="" ng-click="goToFile(document.subProcessName,document.id)">
                                    {{document.name}}
                                </a>
                            </span>
                        </div>
                    </div>
                   
                    <!-- <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                            <span class="mr-4">
                                <i class="fad fa-coins icon-2x text-muted font-weight-bold"></i>
                            </span>
                            <div class="d-flex flex-column text-dark-75">
                                <span class="font-weight-bolder font-size-sm">Credit Line Amount</span>
                                <span class="font-weight-bolder font-size-h5">
                                    {{ creditLine.amount | currency :'₱'}}
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                            <span class="mr-4">
                                <i class="fad fa-percentage icon-2x text-muted font-weight-bold"></i>
                            </span>
                            <div class="d-flex flex-column text-dark-75">
                                <span class="font-weight-bolder font-size-sm">Interest Rate</span>
                                <span class="font-weight-bolder font-size-h5">
                                    {{ creditLine.interestRate_amount }}
                                    <span>%</span>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                            <span class="mr-4">
                                <i class="fad fa-calendar-week icon-2x text-muted font-weight-bold"></i>
                            </span>
                            <div class="d-flex flex-column text-dark-75">
                                <span class="font-weight-bolder font-size-sm">Term</span>
                                <span class="font-weight-bolder font-size-h5">
                                    {{ creditLine.term_name }}
                                </span>
                            </div>
                        </div> -->
                </div>
                <div class="separator separator-solid my-7"></div>

                <div class="d-flex align-items-center flex-wrap" ng-if="creditLine.dateApproved">
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="mr-4">
                            <i class="fad fa-coins icon-2x text-muted font-weight-bold"></i>
                        </span>
                        <div class="d-flex flex-column text-dark-75">
                            <span class="font-weight-bolder font-size-sm">Total Availment</span>
                            <span class="font-weight-bolder font-size-h5">
                                {{ creditLine.totalAvailment | currency :'₱'}}
                            </span>
                        </div>
                    </div>
                     
                   

                     
 
                </div>
                 
            </div>
        </div>
        
        <div class="card card-custom gutter-b" ng-init="showLoans = true">
                <div class="card-header align-items-center border-0">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="font-weight-bolder text-dark">Loans</span>
                    </h3>
                    <div class="card-toolbar">
                        <!-- <a
                            href="#"
                            class="btn btn-sm btn-light-success font-weight-bolder text-uppercase mr-3"
                            ng-click="previewBorrowerLoans(borrower.borrowerId)"
                        >
                            Print
                        </a> -->
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="slide" ng-show="showLoans">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <thead class="table-active">
                                    <tr>
                                        <th>
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 text-uppercase font-size-lg">
                                                    NO.
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="px-2">
                                                <span class="text-dark-75 text-uppercase font-size-lg">
                                                    WINDOW
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 text-uppercase font-size-lg">
                                                    TERM
                                                </span>
                                            </div>
                                        </th>
                                        
                                        <th>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 text-uppercase font-size-lg">
                                                    LOAN AMOUNT
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 text-uppercase font-size-lg">
                                                    INTEREST RATE
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 text-uppercase font-size-lg">
                                                    DATE RELEASED
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 text-uppercase font-size-lg">
                                                    STATUS
                                                </span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        ng-repeat="loan in loans | startFrom:currentPage.loans * pageSize.loans | limitTo: pageSize.loans"
                                    >
                                        <td>
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                    <a href="#" ng-click="viewLoan(loan.id)">{{ loan.id }}</a>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                    {{ loan.loanProgram_name }}
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                    {{ loan.term_name }}
                                                </span>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg" ng-if="!loan.dateReleased">
                                                    {{ loan.amount | currency :'₱'}}
                                                </span>

                                                <span class="text-dark-75 font-weight-bolder font-size-lg" ng-if="loan.dateReleased">
                                                        {{ loan.loanTotalAmortizationPrincipal | currency :'₱'}}
                                                </span>

                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                    {{ loan.interestRate_amount }} %
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                    {{ loan.dateReleased | date:'mediumDate' }}
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center px-2">
                                                <span
                                                    class="text-dark-75 font-weight-bolder font-size-lg"
                                                    ng-if="loan.loanStatus_name != 'APPROVED'"
                                                >
                                                    {{ loan.loanStatus_name }}
                                                </span>
                                                <a
                                                    href=""
                                                    class="btn btn-sm btn-clean btn-icon mr-2"
                                                    ng-click="newLoanRelease(creditLine.borrower,loan.id )"
                                                    ng-if="loan.loanStatus_name == 'APPROVED'"
                                                >
                                                    <i class="fad fa-file-plus"></i>
                                                    New Loan Release
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- <tr class="table-success">
                                        <td>
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span class="text-dark-75 font-weight-bolder font-size-lg"></span>
                                            </div>
                                        </td>
                                    </tr> -->
                                </tbody>
                                <tbody ng-if="creditLine.loans.length == 0">
                                    <tr>
                                        <td class="py-8" colspan="8" align="center">
                                            No records Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-if="creditLine.loans">
                                <pagination
                                    data="creditLine.loans"
                                    page-size="pageSize.loans"
                                    currentpage="currentPage.loans"
                                ></pagination>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center p-0">
                    <a class="btn btn-icon" ng-click="showLoans = !showLoans">
                        <i class="wide text-warning" ng-class=" showLoans ? 'fal fa-angle-up' : 'fal fa-angle-down' "></i>
                    </a>
                </div>
            </div>
 
    </div>
     
    <!-- Start Modal Purpose Security -->
    <div
        id="edit-purpose-security"
        class="modal fade"
        data-backdrop="static"
        tabindex="-1"
        role="dialog"
        aria-labelledby="staticBackdrop"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit {{modalTitle}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="pb-1">
                        <div class="form-group">
                            <label>{{modalTitle}}</label>
                            <textarea
                                ng-model="update.note"
                                name="purpose"
                                type="text"
                                rows="3"
                                cols="50"
                                class="form-control form-control-solid textarea"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light font-weight-bold" data-dismiss="modal">
                        Close
                    </button>
                    <button
                        class="btn btn-primary font-weight-bold"
                        type="button"
                        data-dismiss="modal"
                        ng-click="update(update)"
                    >
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Purpose Security -->
    <!-- Start Modal Edit Release Date -->
    <div
        id="edit-release-date"
        class="modal fade"
        data-backdrop="static"
        tabindex="-1"
        role="dialog"
        aria-labelledby="staticBackdrop"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Release Date</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="pb-1">
                        <div class="form-group">
                            <label>Release Date</label>
                            <input type="date" class="form-control form-control-solid" ng-model="update.releaseDate" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light font-weight-bold" data-dismiss="modal">
                        Close
                    </button>
                    <button
                        class="btn btn-primary font-weight-bold"
                        type="button"
                        data-dismiss="modal"
                        ng-click="updateReleaseDate(update.releaseDate)"
                    >
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Purpose Security -->
    <!-- Start Modal Edit Release Date -->
    <div
        id="amortization-payment"
        class="modal fade"
        data-backdrop="static"
        tabindex="-1"
        role="dialog"
        aria-labelledby="staticBackdrop"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-xxl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Amortization Schedule Payment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body" block-ui="amortizationSchedulePaymentBlockUI">
                    <div class="table-responsive" ng-class="!showAmortizationSchedule ? 'py-10' : 'p-0'">
                            <table class="table table-bordered mb-0">
                                    <thead class="table-active">
                                        <tr>
                                            <th>
                                                <div class="pl-16">
                                                    <span class="text-dark-75 text-uppercase font-size-lg">
                                                        Schedule
                                                    </span>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="text-right pl-16">
                                                    <span class="text-dark-75 text-uppercase font-size-lg">
                                                        Principal
                                                    </span>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="text-right px-2">
                                                    <span class="text-dark-75 text-uppercase font-size-lg">
                                                        Interest
                                                    </span>
                                                </div>
                                            </th>
                                            

                                            <th>
                                                <div class="text-right px-2">
                                                    <span class="text-dark-75 text-uppercase font-size-lg">
                                                        Total Amortization
                                                    </span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="pl-16">
                                                    <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                        {{amortizationItem.schedule | date:'mediumDate'}}
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right pl-16">
                                                    <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                            {{amortizationItem.principal | currency :'₱'}}
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right px-2">
                                                    <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                            {{amortizationItem.interest | currency :'₱'}}
                                                    </span>
                                                </div>
                                            </td>
                                             
                                            <td>
                                                    <div class="text-right px-2">
                                                        <span class="text-dark-75 font-weight-bolder font-size-lg">
                                                                {{amortizationItem.total | currency :'₱'}}
                                                        </span>
                                                    </div>
                                            </td>
                                        </tr>
                                        
                                       
                                    </tbody>
                                </table> 
                        <table class="table table-align-middle table-bordered" ng-if="showAmortizationSchedule">
                            <thead>

                                 
                                <tr>
                                    
                                    <th class="align-middle">
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 text-uppercase font-size-sm">
                                                    Payment Date
                                                </span>
                                            </div>
                                        </th>
                                    <th class="align-middle">
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 text-uppercase font-size-sm">
                                                    Additional Interest
                                                </span>
                                            </div>
                                     </th>
                                     <th class="align-middle">
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 text-uppercase font-size-sm">
                                                    Penalty
                                                </span>
                                    </div>
                                     </th>
                                    <th class="align-middle">
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-sm">
                                                Total Payable
                                            </span>
                                        </div>
                                    </th>
                                    
                                    <th class="align-middle">
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-sm">
                                                Payment Type
                                            </span>
                                        </div>
                                    </th>
                                    <th class="align-middle">
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 text-uppercase font-size-sm">
                                                    Penalty Payment
                                                </span>
                                            </div>
                                    </th>
                                    <th class="align-middle">
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 text-uppercase font-size-sm">
                                                    Interest Payment
                                                </span>
                                            </div>
                                        </th>
                                    <th class="align-middle">
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 text-uppercase font-size-sm">
                                                    Principal Payment
                                                </span>
                                    </div>
                                    </th>
                                    <th class="align-middle">
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 text-uppercase font-size-sm">
                                                    Exemption
                                                </span>
                                            </div>
                                    </th>
                                    <th class="align-middle">
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-sm">
                                                Total Payment
                                            </span>
                                        </div>
                                    </th>
                                    <th class="align-middle">
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-sm">
                                                Balance
                                            </span>
                                        </div>
                                    </th>
                                    <th class="align-middle">
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 text-uppercase font-size-sm">
                                                Overpayment
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="payment in amortizationItem.payments">
                                    <td>
                                            <div class="text-center px-2">
                                                <span class="text-dark-75 font-weight-bold font-size-sm">
                                                    {{ payment.datePayment | date: 'mediumDate' }}
                                                </span>
                                            </div>
                                        </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bold font-size-sm">
                                                {{ payment.additionalInterest | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bold font-size-sm">
                                                {{ payment.penalty | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bold font-size-sm">
                                                {{ payment.totalToPayWithPenalty | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                   
                                    <td>
                                        <div class="px-2">
                                            <span class="text-dark-75 font-weight-bold font-size-sm">
                                                {{ payment.paymentType_name }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 font-weight-bold font-size-sm">
                                                    {{ payment.penaltyPayment | currency :'₱'}}
                                                </span>
                                            </div>
                                    </td>
                                    <td>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 font-weight-bold font-size-sm">
                                                    {{ payment.interestPayment | currency :'₱'}}
                                                </span>
                                            </div>
                                    </td>
                                    <td>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 font-weight-bold font-size-sm">
                                                    {{ payment.principal - payment.balance | currency :'₱'}}
                                                </span>
                                            </div>
                                    </td>

                                    <td>
                                            <div class="text-right px-2">
                                                <span class="text-dark-75 font-weight-bold font-size-sm" ng-if="principal.isPaymentExtension">
                                                    Payment Extension
                                                </span>
                                            </div>
                                    </td>

                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bold font-size-sm">
                                                {{ payment.total | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bold font-size-sm">
                                                {{ payment.balance | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bold font-size-sm">
                                                {{ payment.overPayment | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="table-success">
                                    <td>
                                        <div class="text-center px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-sm">
                                                Total
                                            </span>
                                        </div>
                                    </td>
                                    <td colspan="9">
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-sm">
                                                {{ amortizationItem.totalPayment | currency :'₱'}}
                                            </span>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="text-right px-2">
                                            <span class="text-dark-75 font-weight-bolder font-size-sm"></span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div
                            class="d-flex justify-content-center align-items-center flex-wrap"
                            ng-if="pageRangeDocument((borrower.documents | filter: {subProcess:{id:subProcess.id}}).length).length > 1"
                        >
                            <div class="d-flex flex-wrap py-2 mr-3">
                                <button
                                    href="#"
                                    class="btn btn-circle btn-icon btn-xs btn-light-primary mr-2 my-1"
                                    ng-disabled="currentPageDocument(subProcess) == 0"
                                    ng-click="gotoPrevDocument(subProcess)"
                                >
                                    <i class="fas fa-chevron-left icon-sm"></i>
                                </button>
                                <button
                                    href="#"
                                    class="btn btn-circle btn-icon btn-xs border-0 btn-hover-primary mr-2 my-1"
                                    ng-class="{ 'active' : n == currentPageDocument(subProcess) + 1 }"
                                    ng-repeat="n in pageRangeDocument(borrower.documents.length)"
                                    ng-click="jumpToPageDocument(n,subProcess)"
                                >
                                    <small>{{n}}</small>
                                </button>
                                <button
                                    href="#"
                                    class="btn btn-circle btn-icon btn-xs btn-light-primary mr-2 my-1"
                                    ng-disabled="currentPageDocument(subProcess) >=borrower.documents.length/pageSizeDocument - 1"
                                    ng-click="gotoNextDocument(subProcess)"
                                >
                                    <i class="fas fa-chevron-right icon-sm"></i>
                                </button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Purpose Security -->
</div>
