<div class="pb-5">
    <div class="pb-5">
        <div class="my-2 font-weight-bold text-dark">Borrower Basic Information</div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="borrowerType">Borrower Type</label>
                    <span>*</span>
                    <select
                        class="form-control"
                        id="borrowerType"
                        name="borrowerType"
                        ng-model="borrower.recordType"
                        ng-change="checkBorrowerType(borrower.recordType)"
                        ng-class="{'is-invalid' : form.wizardForm.borrowerType.$invalid && form.wizardForm.borrowerType.$touched, 'is-valid' : form.wizardForm.borrowerType.$valid && form.wizardForm.borrowerType.$touched }"
                        required
                    >
                        <option value="ID">Individual</option>
                        <option value="BD">Business</option>
                    </select>
                    <span class="form-text text-muted" ng-show="form.wizardForm.borrowerType.$touched && form.wizardForm.borrowerType.$invalid">
                        Please enter Borrower Type.
                    </span>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="accreditationDate">Accreditation Date</label>
                    <span>*</span>
                    <input type="date" class="form-control" id="accreditationDate" name="accreditationDate" ng-model="borrower.accreditationDate" />
                </div>
            </div>
        </div>
    </div>
    <ng-include src="basicInfoTemplate"></ng-include>
</div>
