<div class="pb-5">
    <div class="pb-5">
        <div class="my-2 font-weight-bold text-dark">Borrower Basic Information</div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="borrowerType">Borrower Type</label>
                    <span>*</span>
                    <select
                        class="form-control"
                        id="borrowerType"
                        name="borrowerType"
                        ng-model="borrower.recordType"
                        ng-change="checkBorrowerType(borrower.recordType)"
                        ng-class="{'is-invalid' : form.wizardForm.borrowerType.$invalid && form.wizardForm.borrowerType.$touched, 'is-valid' : form.wizardForm.borrowerType.$valid && form.wizardForm.borrowerType.$touched }"
                        required
                    >
                        <!-- <option value="ID">Individual</option> -->
                        <option value="BD">Business</option>
                    </select>
                    <span class="form-text text-muted" ng-show="form.wizardForm.borrowerType.$touched && form.wizardForm.borrowerType.$invalid">
                        Please enter Borrower Type.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="providerCode">Provider Code</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="providerCode"
                        name="providerCode"
                        placeholder="Provider Code"
                        ng-model="borrower.providerCode"
                    />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="branch">Branch Code</label>
                    <select
                        class="form-control"
                        id="branch"
                        name="branch"
                        ng-model="business.branch"
                        ng-options="branch.id as branch.branchCode for branch in branches"
                    ></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="subjectReferenceDate">Subject Reference Date</label>
                    <input
                        type="date"
                        class="form-control"
                        id="subjectReferenceDate"
                        name="subjectReferenceDate"
                        placeholder="Provider Code"
                        ng-model="borrower.subjectReferenceDate"
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="providerSubjectNumber">Provider Subject Number</label>
                    <input
                        type="text"
                        class="form-control"
                        id="providerSubjectNumber"
                        name="providerSubjectNumber"
                        placeholder="Provider Subject Number"
                        ng-model="borrower.providerSubjectNumber"
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="clientSince">Client Since</label>
                    <span>*</span>
                    <input type="date" class="form-control" id="clientSince" name="clientSince" ng-model="borrower.clientSince" />
                </div>
            </div>
        </div>
    </div>
    <div ng-if="borrower.recordType == 'ID'">
        <div class="my-2 font-weight-bold text-dark">Borrower Individual Information</div>
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="firstname"
                        name="firstname"
                        placeholder="First Name"
                        ng-model="individual.firstname"
                        ng-class="{'is-invalid' : form.wizardForm.firstname.$invalid && form.wizardForm.firstname.$touched , 'is-valid' : form.wizardForm.firstname.$valid && form.wizardForm.firstname.$touched }"
                        required
                    />
                    <span class="form-text text-muted" ng-show="form.wizardForm.firstname.$touched && form.wizardForm.firstname.$invalid">
                        Please enter First Name.
                    </span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="middlename">Middle Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="middlename"
                        name="middlename"
                        placeholder="Middle Name"
                        ng-model="individual.middlename"
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="lastname"
                        name="lastname"
                        placeholder="Last Name"
                        ng-model="individual.lastname"
                        ng-class="{'is-invalid' : form.wizardForm.lastname.$invalid && form.wizardForm.lastname.$touched , 'is-valid' : form.wizardForm.lastname.$valid && form.wizardForm.lastname.$touched }"
                        required
                    />
                    <span class="form-text text-muted" ng-show="form.wizardForm.lastname.$touched && form.wizardForm.lastname.$invalid">
                        Please enter Last Name.
                    </span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="title">Title</label>
                    <select
                        class="form-control"
                        id="title"
                        name="title"
                        ng-model="individual.title"
                        ng-options="title.id as title.description for title in titles"
                    ></select>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="suffix">Suffix</label>
                    <input type="text" class="form-control" id="suffix" name="suffix" placeholder="Suffix" ng-model="individual.suffix" />
                </div>
            </div>
            <!-- <div class="col-xl-4">
                    <div class="form-group">
                        <label for="nickname">Nickname</label>
                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname" ng-model="individual.nickname" />
                    </div>
                </div> -->
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="previousLastName">Previous Last Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="previousLastName"
                        name="previousLastName"
                        placeholder="Previous Last Name"
                        ng-model="individual.previousLastName"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select
                        class="form-control"
                        id="gender"
                        name="gender"
                        ng-model="individual.gender"
                        ng-options="gender.id as gender.description for gender in genders"
                    ></select>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input
                        type="date"
                        class="form-control"
                        id="dateOfBirth"
                        name="dateOfBirth"
                        placeholder="Date of Birth"
                        ng-model="individual.dateOfBirth"
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="placeOfBirth">Place of Birth</label>
                    <input
                        type="text"
                        class="form-control"
                        id="placeOfBirth"
                        name="placeOfBirth"
                        placeholder="Place of Birth"
                        ng-model="individual.placeOfBirth"
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="countryOfBirth">Country of Birth</label>
                    <select
                        class="form-control"
                        id="countryOfBirth"
                        name="countryOfBirth"
                        ng-model="individual.countryOfBirth"
                        ng-options="country.id as country.description for country in countries"
                    ></select>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="individualNationality">Nationality</label>
                    <select
                        class="form-control"
                        id="individualNationality"
                        name="individualNationality"
                        ng-model="individual.nationality"
                        ng-options="country.id as country.description for country in countries"
                    ></select>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="individualResident">Resident</label>
                    <select class="form-control" id="individualResident" name="individualResident" ng-model="individual.resident">
                        <option value="true">Resident</option>
                        <option value="false">Non-Resident</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="civilStatus">Civil Status</label>
                    <select
                        class="form-control"
                        id="civilStatus"
                        name="civilStatus"
                        ng-model="individual.civilStatus"
                        ng-options="status.id as status.description for status in civilstatus"
                    ></select>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="numberOfDependents">Number of Dependents</label>
                    <input
                        type="text"
                        min="0"
                        class="form-control"
                        id="numberOfDependents"
                        name="numberOfDependents"
                        placeholder="Number of Dependents"
                        ng-model="cooperative.numberOfDependents"
                        price
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="carsOwned">Cars Owned</label>
                    <input
                        type="text"
                        min="0"
                        class="form-control"
                        id="carsOwned"
                        name="carsOwned"
                        placeholder="Number of Cars Owned"
                        ng-model="cooperative.carsOwned"
                        price
                    />
                </div>
            </div>
        </div>
        <div class="my-2 font-weight-bold text-dark">Spouse</div>
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="spouseFirstName">Spouse First Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="spouseFirstName"
                        name="spouseFirstName"
                        placeholder="Spouse First Name"
                        ng-model="family.spouseFirstName"
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="spouseMiddleName">Spouse Middle Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="spouseMiddleName"
                        name="spouseMiddleName"
                        placeholder="Spouse Middle Name"
                        ng-model="family.spouseMiddleName"
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="spouseLastName">Spouse Last Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="spouseLastName"
                        name="spouseLastName"
                        placeholder="Spouse Last Name"
                        ng-model="family.spouseLastName"
                    />
                </div>
            </div>
        </div>
        <div class="my-2 font-weight-bold text-dark">Mother (Maiden)</div>
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="motherFirstName">Mother First Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="motherFirstName"
                        name="motherFirstName"
                        placeholder="Mother First Name"
                        ng-model="family.motherFirstName"
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="motherMiddleName">Mother Middle Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="motherMiddleName"
                        name="motherMiddleName"
                        placeholder="Mother Middle Name"
                        ng-model="family.motherMiddleName"
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="motherLastName">Mother Last Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="motherLastName"
                        name="motherLastName"
                        placeholder="Mother Last Name"
                        ng-model="family.motherLastName"
                    />
                </div>
            </div>
        </div>
        <div class="my-2 font-weight-bold text-dark">Father</div>
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="fatherFirstName">Father First Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="fatherFirstName"
                        name="fatherFirstName"
                        placeholder="Father First Name"
                        ng-model="family.fatherFirstName"
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="fatherMiddleName">Father Middle Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="fatherMiddleName"
                        name="fatherMiddleName"
                        placeholder="Father Middle Name"
                        ng-model="family.fatherMiddleName"
                    />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="fatherLastName">Father Last Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="fatherLastName"
                        name="fatherLastName"
                        placeholder="Father Last Name"
                        ng-model="family.fatherLastName"
                    />
                </div>
            </div>
        </div>
    </div>
    <div ng-if="borrower.recordType == 'BD'">
        <div class="pb-5">
            <div class="my-2 font-weight-bold text-dark">Borrower Business Information</div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="businessTradeName">Trade Name</label>
                        <span>*</span>
                        <input
                            type="text"
                            class="form-control"
                            id="businessTradeName"
                            name="businessTradeName"
                            placeholder="Trade Name"
                            ng-model="business.tradeName"
                            ng-class="{'is-invalid' : form.wizardForm.businessTradeName.$invalid && form.wizardForm.businessTradeName.$touched, 'is-valid' : form.wizardForm.businessTradeName.$valid && form.wizardForm.businessTradeName.$touched }"
                            required
                        />
                        <span
                            class="form-text text-muted"
                            ng-show="form.wizardForm.businessTradeName.$touched && form.wizardForm.businessTradeName.$invalid"
                        >
                            Please enter Trade Name.
                        </span>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="officialRegisteredTradeName">Official Registered Trade Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="officialRegisteredTradeName"
                            name="officialRegisteredTradeName"
                            placeholder="Official Registered Trade Name"
                            ng-model="business.officialRegisteredTradeName"
                        />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="businessTradeName">Check No</label>
                        <input
                            type="text"
                            class="form-control"
                            id="officialRegisteredTradeName"
                            name="officialRegisteredTradeName"
                            placeholder="Official Registered Trade Name"
                            ng-model="business.officialRegisteredTradeName"
                        />
                        <span
                            class="form-text text-muted"
                            ng-show="form.wizardForm.businessTradeName.$touched && form.wizardForm.businessTradeName.$invalid"
                        >
                            Please enter Trade Name.
                        </span>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="officialRegisteredTradeName">Official Registered Trade Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="officialRegisteredTradeName"
                            name="officialRegisteredTradeName"
                            placeholder="Official Registered Trade Name"
                            ng-model="business.officialRegisteredTradeName"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="businessNationality">Nationality</label>
                        <select
                            class="form-control"
                            id="businessNationality"
                            name="businessNationality"
                            ng-model="business.nationality"
                            ng-options="country.id as country.description for country in countries"
                        ></select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="businessResident">Resident</label>
                        <select class="form-control" id="businessResident" name="businessResident" ng-model="business.resident">
                            <option value="true">Resident</option>
                            <option value="false">Non-Resident</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="legalForm">Legal Form</label>
                        <select
                            class="form-control"
                            id="legalForm"
                            name="legalForm"
                            ng-model="business.legalForm"
                            ng-options="legalFormType.id as legalFormType.description for legalFormType in legalFormTypes"
                        ></select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="termOfExistence">Term of Existence</label>
                        <input
                            type="date"
                            class="form-control"
                            id="termOfExistence"
                            name="termOfExistence"
                            placeholder="Term of Existence"
                            ng-model="business.termOfExistence"
                        />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="psic">PSIC</label>
                        <select
                            class="form-control"
                            id="psic"
                            name="psic"
                            ng-model="business.psic"
                            ng-options="psic.id as psic.description for psic in psics"
                        ></select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="registrationDate">Registration Date</label>
                        <input
                            type="date"
                            class="form-control"
                            id="registrationDate"
                            name="registrationDate"
                            placeholder="Registration Date"
                            ng-model="business.registrationDate"
                        />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="numberOfEmployees">Number of Employees</label>
                        <input
                            type="text"
                            min="0"
                            class="form-control"
                            id="numberOfEmployees"
                            name="numberOfEmployees"
                            placeholder="Number of Employees"
                            ng-model="business.numberOfEmployees"
                            price
                        />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="firmSize">Firm Size</label>
                        <select
                            class="form-control"
                            id="firmSize"
                            name="firmSize"
                            ng-model="business.firmSize"
                            ng-options="firmSize.id as firmSize.description for firmSize in firmSizes"
                        ></select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="businessGrossIncome">Gross Income</label>
                        <input
                            type="text"
                            min="0"
                            class="form-control"
                            id="businessGrossIncome"
                            name="businessGrossIncome"
                            placeholder="Gross Income"
                            ng-model="business.grossIncome"
                            price
                        />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="netTaxableIncome">Net Taxable Income</label>
                        <input
                            type="text"
                            min="0"
                            class="form-control"
                            id="netTaxableIncome"
                            name="netTaxableIncome"
                            placeholder="Net Taxable Income"
                            ng-model="business.netTaxableIncome"
                            price
                        />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="monthlyExpenses">Monthly Expenses</label>
                        <input
                            type="text"
                            min="0"
                            class="form-control"
                            id="monthlyExpenses"
                            name="monthlyExpenses"
                            placeholder="Monthly Expenses"
                            ng-model="business.monthlyExpenses"
                            price
                        />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="businessCurrency">Currency</label>
                        <select
                            class="form-control"
                            id="businessCurrency"
                            name="businessCurrency"
                            ng-model="business.currency"
                            ng-options="currency.id as currency.description for currency in currencies"
                        ></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-5" ng-repeat="businessContactPerson in business.businessContactPerson">
            <div class="mb-3 font-weight-bold text-dark">Enter Contact Person Information</div>
            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="firstname"
                            name="firstname"
                            placeholder="First Name"
                            ng-model="businessContactPerson.firstname"
                        />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="middlename">Middle Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="middlename"
                            name="middlename"
                            placeholder="Middle Name"
                            ng-model="businessContactPerson.middlename"
                        />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="lastname"
                            name="lastname"
                            placeholder="Last Name"
                            ng-model="businessContactPerson.lastname"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="contactPersonAddress">Address</label>
                <input
                    type="text"
                    class="form-control"
                    id="contactPersonAddress"
                    name="contactPersonAddress"
                    placeholder="Complete Address"
                    ng-model="businessContactPerson.address"
                />
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="contactPersonPhoneNo">Phone Number</label>
                        <input
                            type="text"
                            class="form-control"
                            id="contactPersonPhoneNo"
                            name="contactPersonPhoneNo"
                            placeholder="Phone Number"
                            ng-model="businessContactPerson.phoneNo"
                        />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label for="contactPersonEmailAddress">Email Address</label>
                        <input
                            type="text"
                            class="form-control"
                            id="contactPersonEmailAddress"
                            name="contactPersonEmailAddress"
                            placeholder="user@example.com"
                            ng-model="businessContactPerson.emailAddress"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="form-group">
            <label for="name">Cooperative Name</label>
            <span>*</span>
            <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Name of Cooperative"
                ng-model="cooperative.name"
                ng-class="{'is-invalid' : form.wizardForm.name.$invalid && form.wizardForm.name.$touched, 'is-valid' : form.wizardForm.name.$valid && form.wizardForm.name.$touched }"
                required
            />
            <span class="form-text text-muted" ng-show="form.wizardForm.name.$touched && form.wizardForm.name.$invalid">Please enter Name.</span>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="clientSince">Client Since</label>
                    <span>*</span>
                    <input
                        type="date"
                        class="form-control"
                        id="clientSince"
                        name="clientSince"
                        ng-model="borrower.clientSince"
                        ng-class="{'is-invalid' : form.wizardForm.clientSince.$invalid && form.wizardForm.clientSince.$touched, 'is-valid' : form.wizardForm.clientSince.$valid && form.wizardForm.clientSince.$touched }"
                        required
                    />
                    <span class="form-text text-muted" ng-show="form.wizardForm.clientSince.$touched && form.wizardForm.clientSince.$invalid">
                        Please enter CDA Registration Date.
                    </span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="tin">TIN</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="tin"
                        name="tin"
                        placeholder="Taxpayer Identification Number"
                        ng-model="cooperative.tin"
                        ng-class="{'is-invalid' : form.wizardForm.tin.$invalid && form.wizardForm.tin.$touched , 'is-valid' : form.wizardForm.tin.$valid && form.wizardForm.tin.$touched }"
                        required
                    />
                    <span class="form-text text-muted" ng-show="form.wizardForm.tin.$touched && form.wizardForm.tin.$invalid">Please enter TIN.</span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="cooperativeType">Cooperative Type</label>
                    <span>*</span>
                    <select
                        class="form-control"
                        id="cooperativeType"
                        name="cooperativeType"
                        ng-model="cooperative.cooperativeType"
                        ng-options="coopType.id as coopType.name for coopType in cooperativetypes"
                        ng-class="{'is-invalid' : form.wizardForm.cooperativeType.$invalid && form.wizardForm.cooperativeType.$touched, 'is-valid' : form.wizardForm.cooperativeType.$valid && form.wizardForm.cooperativeType.$touched }"
                        required
                    ></select>
                    <span class="form-text text-muted" ng-show="form.wizardForm.cooperativeType.$touched && form.wizardForm.cooperativeType.$invalid">
                        Please enter Cooperative Type.
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <span>*</span>
            <input
                type="text"
                class="form-control"
                id="address"
                name="address"
                placeholder="Complete Address"
                ng-model="cooperative.address"
                ng-class="{'is-invalid' : form.wizardForm.address.$invalid && form.wizardForm.address.$touched, 'is-valid' : form.wizardForm.address.$valid && form.wizardForm.address.$touched }"
                required
            />
            <span class="form-text text-muted" ng-show="form.wizardForm.address.$touched && form.wizardForm.address.$invalid">Please enter Address.</span>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="phoneNo">Phone Number</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="phoneNo"
                        name="phoneNo"
                        placeholder="Phone Number"
                        ng-model="cooperative.phoneNo"
                        ng-class="{'is-invalid' : form.wizardForm.phoneNo.$invalid && form.wizardForm.phoneNo.$touched, 'is-valid' : form.wizardForm.phoneNo.$valid && form.wizardForm.phoneNo.$touched }"
                        required
                    />
                    <span class="form-text text-muted" ng-show="form.wizardForm.phoneNo.$touched && form.wizardForm.phoneNo.$invalid">
                        Please enter Phone Number.
                    </span>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="emailAddress"
                        name="emailAddress"
                        placeholder="user@example.com"
                        ng-model="cooperative.emailAddress"
                        ng-class="{'is-invalid' : form.wizardForm.emailAddress.$invalid && form.wizardForm.emailAddress.$touched, 'is-valid' : form.wizardForm.emailAddress.$valid && form.wizardForm.emailAddress.$touched }"
                        required
                    />
                    <span class="form-text text-muted" ng-show="form.wizardForm.emailAddress.$touched && form.wizardForm.emailAddress.$invalid">
                        Please enter Email Address.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="telNo">Telephone Number</label>
                    <input type="text" class="form-control" id="telNo" name="telNo" placeholder="Telephone Number" ng-model="cooperative.telNo" />
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="fax">Fax Number</label>
                    <input type="text" class="form-control" id="fax" name="fax" placeholder="Fax Number" ng-model="cooperative.fax" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea
                type="text"
                rows="4"
                cols="50"
                class="form-control textarea"
                id="description"
                name="description"
                placeholder="Description"
                ng-model="cooperative.description"
            ></textarea>
        </div>
        <div class="form-group">
            <label for="remarks">Remarks</label>
            <input type="text" class="form-control" id="remarks" name="remarks" placeholder="Remarks" ng-model="cooperative.remarks" />
        </div> -->
</div>
