<div>
    <div class="mb-3 font-weight-bold text-dark">Enter Director and Standing Committee Information</div>
    <div class="d-flex justify-content-between mb-3">
        <div class="mr-2">
            <h6 class="font-weight-bolder">
                Directors:
            </h6>
        </div>
        <div>
            <button class="btn btn-outline-primary" type="button" ng-click="addDirector()">
                <i class="fal fa-plus mr-2"></i>
                Add Director
            </button>
        </div>
    </div>
    <div class="pb-5" ng-repeat="director in cooperative.directors">
        <div class="form-group">
            <label for="directorName">Name</label>
            <span>*</span>
            <input
                type="text"
                class="form-control"
                id="directorName"
                name="directorName"
                ng-model="director.name"
                ng-class="{'is-invalid' : form.wizardForm.directorName.$invalid && form.wizardForm.directorName.$touched, 'is-valid' : form.wizardForm.directorName.$valid && form.wizardForm.directorName.$touched }"
                required
            />
            <span
                class="form-text text-muted"
                ng-show="form.wizardForm.directorName.$touched && form.wizardForm.directorName.$invalid"
            >
                Please enter Director's Name.
            </span>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="directorPosition">Cooperative Position</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="directorPosition"
                        name="directorPosition"
                        ng-model="director.position"
                        ng-class="{'is-invalid' : form.wizardForm.directorPosition.$invalid && form.wizardForm.directorPosition.$touched, 'is-valid' : form.wizardForm.directorPosition.$valid && form.wizardForm.directorPosition.$touched }"
                        required
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.directorPosition.$touched && form.wizardForm.directorPosition.$invalid"
                    >
                        Please enter Director's Position in Cooperative.
                    </span>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="directorEducationalAttainment">Educational Attainment</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="directorEducationalAttainment"
                        name="directorEducationalAttainment"
                        ng-model="director.educationalAttainment"
                        ng-class="{'is-invalid' : form.wizardForm.directorEducationalAttainment.$invalid && form.wizardForm.directorEducationalAttainment.$touched, 'is-valid' : form.wizardForm.directorEducationalAttainment.$valid && form.wizardForm.directorEducationalAttainment.$touched }"
                        required
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.directorEducationalAttainment.$touched && form.wizardForm.directorEducationalAttainment.$invalid"
                    >
                        Please enter Director's Educational Attainment.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="directorAge">Age</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="directorAge"
                        name="directorAge"
                        ng-model="director.age"
                        ng-class="{'is-invalid' : form.wizardForm.directorAge.$invalid && form.wizardForm.directorAge.$touched, 'is-valid' : form.wizardForm.directorAge.$valid && form.wizardForm.directorAge.$touched }"
                        required
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.directorAge.$touched && form.wizardForm.directorAge.$invalid"
                    >
                        Please enter Director's Age.
                    </span>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="directorYearsInCoop">Years in Cooperative</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="directorYearsInCoop"
                        name="directorYearsInCoop"
                        ng-model="director.yearsInCoop"
                        ng-class="{'is-invalid' : form.wizardForm.directorYearsInCoop.$invalid && form.wizardForm.directorYearsInCoop.$touched, 'is-valid' : form.wizardForm.directorYearsInCoop.$valid && form.wizardForm.directorYearsInCoop.$touched }"
                        required
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.directorYearsInCoop.$touched && form.wizardForm.directorYearsInCoop.$invalid"
                    >
                        Please enter Director's Years in Cooperative.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="directorOsLoanWithCoop">OS Loan with Cooperative</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="directorOsLoanWithCoop"
                        name="directorOsLoanWithCoop"
                        ng-model="director.oSLoanWithCoop"
                        ng-class="{'is-invalid' : form.wizardForm.directorOsLoanWithCoop.$invalid && form.wizardForm.directorOsLoanWithCoop.$touched, 'is-valid' : form.wizardForm.directorOsLoanWithCoop.$valid && form.wizardForm.directorOsLoanWithCoop.$touched }"
                        required
                        price
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.directorOsLoanWithCoop.$touched && form.wizardForm.directorOsLoanWithCoop.$invalid"
                    >
                        Please enter Director's OS Loan with Cooperative.
                    </span>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="directorStatus">Status</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="directorStatus"
                        name="directorStatus"
                        ng-model="director.status"
                        ng-class="{'is-invalid' : form.wizardForm.directorStatus.$invalid && form.wizardForm.directorStatus.$touched, 'is-valid' : form.wizardForm.directorStatus.$valid && form.wizardForm.directorStatus.$touched }"
                        required
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.directorStatus.$touched && form.wizardForm.directorStatus.$invalid"
                    >
                        Please enter Director's Status.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <button class="btn btn-outline-warning" type="button" ng-click="removeDirector($index)">
                    <i class="fal fa-minus mr-2"></i>
                    Remove Director
                </button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between border-top-dashed pt-5 mt-5 mb-3">
        <div class="mr-2">
            <h6 class="font-weight-bolder">
                Standing Committee:
            </h6>
        </div>
        <div>
            <button class="btn btn-outline-primary" type="button" ng-click="addCommittee()">
                <i class="fal fa-plus mr-2"></i>
                Add Committee
            </button>
        </div>
    </div>
    <div class="pb-5" ng-repeat="standingCommittee in cooperative.standingCommittees">
        <div class="form-group">
            <label for="committeeName">Name</label>
            <span>*</span>
            <input
                type="text"
                class="form-control"
                id="committeeName"
                name="committeeName"
                ng-model="standingCommittee.name"
                ng-class="{'is-invalid' : form.wizardForm.committeeName.$invalid && form.wizardForm.committeeName.$touched, 'is-valid' : form.wizardForm.committeeName.$valid && form.wizardForm.committeeName.$touched }"
                required
            />
            <span
                class="form-text text-muted"
                ng-show="form.wizardForm.committeeName.$touched && form.wizardForm.committeeName.$invalid"
            >
                Please enter Committee's Name.
            </span>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="committeeDepartment">Cooperative Department</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="committeeDepartment"
                        name="committeeDepartment"
                        ng-model="standingCommittee.department"
                        ng-class="{'is-invalid' : form.wizardForm.committeeDepartment.$invalid && form.wizardForm.committeeDepartment.$touched, 'is-valid' : form.wizardForm.committeeDepartment.$valid && form.wizardForm.committeeDepartment.$touched }"
                        required
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.committeeDepartment.$touched && form.wizardForm.committeeDepartment.$invalid"
                    >
                        Please enter Committee's Department in Cooperative.
                    </span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="committeePosition">Cooperative Position</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="committeePosition"
                        name="committeePosition"
                        ng-model="standingCommittee.position"
                        ng-class="{'is-invalid' : form.wizardForm.committeePosition.$invalid && form.wizardForm.committeePosition.$touched, 'is-valid' : form.wizardForm.committeePosition.$valid && form.wizardForm.committeePosition.$touched }"
                        required
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.committeePosition.$touched && form.wizardForm.committeePosition.$invalid"
                    >
                        Please enter Committee's Position in Cooperative.
                    </span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label for="committeeEducationalAttainment">Educational Attainment</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="committeeEducationalAttainment"
                        name="committeeEducationalAttainment"
                        ng-model="standingCommittee.educationalAttainment"
                        ng-class="{'is-invalid' : form.wizardForm.committeeEducationalAttainment.$invalid && form.wizardForm.committeeEducationalAttainment.$touched, 'is-valid' : form.wizardForm.committeeEducationalAttainment.$valid && form.wizardForm.committeeEducationalAttainment.$touched }"
                        required
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.committeeEducationalAttainment.$touched && form.wizardForm.committeeEducationalAttainment.$invalid"
                    >
                        Please enter Committee's Educational Attainment.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="committeeAge">Age</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="committeeAge"
                        name="committeeAge"
                        ng-model="standingCommittee.age"
                        ng-class="{'is-invalid' : form.wizardForm.committeeAge.$invalid && form.wizardForm.committeeAge.$touched, 'is-valid' : form.wizardForm.committeeAge.$valid && form.wizardForm.committeeAge.$touched }"
                        required
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.committeeAge.$touched && form.wizardForm.committeeAge.$invalid"
                    >
                        Please enter Committee's Age.
                    </span>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="committeeYearsInCoop">Years in Cooperative</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="committeeYearsInCoop"
                        name="committeeYearsInCoop"
                        ng-model="standingCommittee.yearsInCoop"
                        ng-class="{'is-invalid' : form.wizardForm.committeeYearsInCoop.$invalid && form.wizardForm.committeeYearsInCoop.$touched, 'is-valid' : form.wizardForm.committeeYearsInCoop.$valid && form.wizardForm.committeeYearsInCoop.$touched }"
                        required
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.committeeYearsInCoop.$touched && form.wizardForm.committeeYearsInCoop.$invalid"
                    >
                        Please enter Committee's Years in Cooperative.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="committeeOsLoanWithCoop">OS Loan with Cooperative</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="committeeOsLoanWithCoop"
                        name="committeeOsLoanWithCoop"
                        ng-model="standingCommittee.oSLoanWithCoop"
                        ng-class="{'is-invalid' : form.wizardForm.committeeOsLoanWithCoop.$invalid && form.wizardForm.committeeOsLoanWithCoop.$touched, 'is-valid' : form.wizardForm.committeeOsLoanWithCoop.$valid && form.wizardForm.committeeOsLoanWithCoop.$touched }"
                        required
                        price
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.committeeOsLoanWithCoop.$touched && form.wizardForm.committeeOsLoanWithCoop.$invalid"
                    >
                        Please enter Committee's OS Loan with Cooperative.
                    </span>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label for="committeeStatus">Status</label>
                    <span>*</span>
                    <input
                        type="text"
                        class="form-control"
                        id="committeeStatus"
                        name="committeeStatus"
                        ng-model="standingCommittee.status"
                        ng-class="{'is-invalid' : form.wizardForm.committeeStatus.$invalid && form.wizardForm.committeeStatus.$touched, 'is-valid' : form.wizardForm.committeeStatus.$valid && form.wizardForm.committeeStatus.$touched }"
                        required
                    />
                    <span
                        class="form-text text-muted"
                        ng-show="form.wizardForm.committeeStatus.$touched && form.wizardForm.committeeStatus.$invalid"
                    >
                        Please enter Committee's Status
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <button class="btn btn-outline-warning" type="button" ng-click="removeCommittee($index)">
                    <i class="fal fa-minus mr-2"></i>
                    Remove Committee
                </button>
            </div>
        </div>
    </div>
</div>
