<table class="table color-table muted-table table-fit">
    <thead>
        <tr align="left">
            <th style="width: 5%"></th>
            <th style="width: 83%">ACTION</th>
            <th style="width: 12%">DATE</th>
        </tr>
    </thead>
    <tbody>
        <tr align="left" ng-repeat="log in logs" ng-hide="activity.length == 0" class="v-middle">
            <td align="right">
                <i class="fas fa-user-plus fa-lg"></i>
            </td>
            <td>
                <div class="row" style="margin-left: 0px !important">
                    <strong>{{ log.action_type }}</strong>
                </div>
                <div class="row m-b-10" style="margin-left: 0px !important">By {{ log.userName }}</div>
                <div class="row" style="margin-left: 0px !important" ng-repeat="deatils in log.logDetails">{{ details.action }}</div>
            </td>
            <td>{{ log.action_time | date : format : mediumDate }}</td>
        </tr>
        <tr ng-show="activity.length == 0">
            <td colspan="6">No records to show</td>
        </tr>
    </tbody>
</table>
